<div class="{% if class %}{{ class }}{% else %}field styled{% endif %}">
    <label>{{ title }}</label>
    <input id="{{ field }}_yes_<%=element.cid%>" data-checked="<%=type%>_<%=element.cid%>.{{ field }}" value="true" type="radio" name="{{ input_name }}">
    <label for="{{ field }}_yes_<%=element.cid%>"><span></span>Yes</label>
    {% if not only_yes %}
    <input id="{{ field }}_no_<%=element.cid%>" class="styled" data-checked="<%=type%>_<%=element.cid%>.{{ field }}" value="false" type="radio" name="{{ input_name }}">
    <label for="{{ field }}_no_<%=element.cid%>"><span></span>No</label>
    {% endif %}
 <div class="help-tip_hover">
        <div class="help-tip-title">Helpful Tip</div>
        <div class="help-tip-text"><div class="help-tip-right"></div>text</div>
    </div>
    <% if (element.errors['{{ field }}']) { %>
    <div class="error_list" style="display: none">
        <% _.each(element.errors['{{ field }}'],function(value){ %>
        <p><%=value%></p>
        <% }) %>
    </div>
    <% } %>
</div>