<div class="field fl_left">
    <label>{{ title }}</label>
    <input data-value="<%=type%>_<%=element.cid%>.{{ field }}" class="it2" type="text">
    <% if (element.errors['{{ field }}']) { %>
    <div class="error_list">
        <% _.each(element.errors['{{ field }}'],function(value){ %>
        <p><%=value%></p>
        <% }) %>
    </div>
    <% } %>
    <div class="help-tip">
        <div class="help-tip-title">Helpful Tip!</div>
        <div class="help-tip-text">
            <div class="help-tip-right"></div>
            {{ tooltip }}.
        </div>
    </div>
</div>