<div class="{% if class %}{{ class }}{% else %}field{% endif %}">
    <label>{{ title }}</label>
    <input data-value="<%=type%>_<%=element.cid%>.{{ field }}" class="{{ input_class }}" type="text">
    <div class="help-tip">
        <div class="help-tip-title">Helpful Tip</div>
        <div class="help-tip-text"><div class="help-tip-right"></div>{% if tooltip %}{{ tooltip }}{% else %}{{ title }}{% endif %}.</div>
    </div>
    <% if (element.errors['{{ field }}']) { %>
    <div class="error_list" style="display: none">
        <% _.each(element.errors['{{ field }}'],function(value){ %>
        <p><%=value%></p>
        <% }) %>
    </div>
    <% } %>
</div>