{% load thumbnail %}
    <fieldset>
        <div class="left_info">
            {% include 'job_seeker/field.html' with input_class="it2" class="field fl_left" title="Last Name*" field="last_name"%}
            {% include 'job_seeker/field.html' with input_class="it2" class="field fl_left" title="First Name*" field="first_name" %}
            <div class="clear" ></div>
            {% include 'job_seeker/field.html' with input_class="it4" title="Address first" field="address_first" %}
            {% include 'job_seeker/field.html' with input_class="it4" title="Address second" field="address_second"%}
            {% include 'job_seeker/field.html' with input_class="it4" title="City" field="city"%}
            {% include 'job_seeker/field.html' with input_class="it3" title="Postcode" field="postcode"%}
        </div>
        <div class="avatar">
            <div>Profile Picture (optional)</div>
            {% load staticfiles %}
            <div class="img">
                <img id="avatar_img" data-src="<%=type%>_<%=element.cid%>.photo">
                <div class="links">
                    <a id="link_upload_file" href="#">Upload Photo</a>|
                    <a data-url="{% url "remove" "job_seeker_photo" %}" id="link_remove_file"  href="#">Delete Picture</a>
                </div>
            </div>
            <input class="_hide" id="fileupload" type="file" name="files[]" data-url="{% url "upload" "job_seeker_photo" %}">
        </div>
        <div class="bot_info">
            {% include 'job_seeker/field.html' with class="field fl_left" input_class="it2" title="Home Phone Number" field="home_phone" %}
            {% include 'job_seeker/field.html' with class="field fl_left" input_class="it2" title="Daytime Phone Number" field="daytime_phone" %}
            {% include 'job_seeker/field.html' with class="field fl_left" input_class="it2" title="Mobile Phone Number" field="mobile_phone" %}
            <div class="clear" ></div>
            {% include 'job_seeker/field.html' with class="field" input_class="it3" title="Email Address" field="email" %}
            {% include 'job_seeker/field_checked.html' with title="Can potential employers contact you at work?" field="can_contact_at_work" input_name="ch1" %}
            {% include 'job_seeker/field_checked.html' with class="field fl_left styled" title="Are you an Australian Citizen / Permanent Resident?" field="is_australian" input_name="ch2" %}
            {% include 'job_seeker/field_checked.html' with class="field fl_left styled" title="If no do you have a working visa?" field="have_visa" input_name="ch3" %}
            <div class="clear"></div>
            <div class="text">(Note: To be eligible for employment, applicants must have the appropriate work visa or have permanent residency status.)</div>
            {% include 'job_seeker/field_checked.html' with title="Do you hold a current driver’s licence?" field="is_driver" input_name="ch4" %}
        </div>
    </fieldset>