{% extends 'job_seeker/base.html' %}
{% load staticfiles %}
{% load serialize %}

{% block library-js %}
    {{ block.super }}
    <script src="{% static 'job_seeker/js/src/angular/application.js' %}" type="text/javascript"></script>
    <script src="{% static 'job_seeker/js/src/angular/directives.js' %}" type="text/javascript"></script>
    <script src="{% static 'job_seeker/js/src/angular/factories.js' %}" type="text/javascript"></script>
    <script src="{% static 'job_seeker/js/src/angular/controllers.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="_content stages" ng-app="AplInfoApp">

    <div ng-controller="AplInfoData" ng-init='set_data({
            personal_information:{{ profile.personal_information|as_json|safe }},
            current_employment:{{ profile.current_employment|as_json|safe }},
            previous_employments:{{ profile.previous_employments_set.all|as_json }},
            educations:{{ profile.educations_set.all|as_json }},
            referees:{{ profile.referees_set.all|as_json }},
            exit_url:"/job_seeker/"
        })'></div>

    <script type="text/ng-template" id="application-information">

    <h1>Your Application Information</h1>

    <div class="left">
        <ul activated>
            <li section num="1" error="error">Section 1: Personal Information</li>
            <li section num="2" error="error">Section 2: Current Employment</li>
            <li section num="3" error="error">Section 3: Previous Employment</li>
            <li section num="4" error="error">Section 4: Education</li>
            <li section num="5" error="error">Section 5: References</li>
        </ul>
    </div>

    <div class="right">
        <ul activated>
            <li section num="1" error="error">Section 1</li>
            <li section num="2" error="error">Section 2</li>
            <li section num="3" error="error">Section 3</li>
            <li section num="4" error="error">Section 4</li>
            <li section num="5" error="error">Section 5</li>
        </ul>
        <div class="form">
            <form activated="block">
                <div class="section1">
                    <fieldset ng-repeat="item in data.personal_information">
                        <div class="title">Personal Information</div>
                        <div class="left_info">
                            {% include "job_seeker/fields/input.html" with label="Last Name" name="last_name" class="field fl_left" input_class="it2" %}
                            {% include "job_seeker/fields/input.html" with label="First Name" name="first_name" class="field fl_left" input_class="it2" %}
                            <div class="clear"></div>
                            {% include "job_seeker/fields/input.html" with label="First address" name="address_first" input_class="it4" %}
                            {% include "job_seeker/fields/input.html" with label="Second address" name="address_second" input_class="it4" %}
                            {% include "job_seeker/fields/input.html" with label="City" name="city" input_class="it4" %}
                            {% include "job_seeker/fields/input.html" with label="Postcode" name="postcode" input_class="it3" %}
                            {% include "job_seeker/fields/select.html" with label="Can potential employers contact you at work?" name="can_contact_at_work" ch="1" %}
                            {% include "job_seeker/fields/select.html" with label="Are you an Australian Citizen / Permanent Resident?" name="is_australian" ch="2" %}
                            {% include "job_seeker/fields/select.html" with label="If no do you have a working visa?" name="have_visa" ch="3" %}
                            <div class="text">(Note: To be eligible for employment, applicants must have the appropriate
                                work visa or have permanent residency status.)
                            </div>
                            {% include "job_seeker/fields/select.html" with label="Do you hold a current driver’s licence?" name="is_driver" ch="4" %}
                        </div>
                        <div class="avatar">
                            <div>Profile Picture (optional)</div>
                            <div class="img">
                                <img id="avatar_img" src="{[{ item.photo }]}">

                                <div class="links">
                                    <a id="link_upload_file" href="#">Upload Photo</a>|
                                    <a data-url="{% url "remove" "job_seeker_photo" %}" id="link_remove_file"
                                       href="#">Delete
                                        Picture</a>
                                </div>
                            </div>
                            <input class="_hide" id="fileupload" type="file" name="files[]"
                                   data-url="{% url "upload" "job_seeker_photo" %}">
                        </div>
                        <div class="bot_info">
                            {% include "job_seeker/fields/input.html" with label="Home Phone Number" name="home_phone" input_class="it2" class="field fl_left" %}
                            {% include "job_seeker/fields/input.html" with label="Daytime Phone Number" name="daytime_phone" input_class="it2" class="field fl_left" %}
                            {% include "job_seeker/fields/input.html" with label="Mobile Phone Number" name="mobile_phone" input_class="it2" class="field fl_left" %}
                            <div class="clear"></div>
                            {% include "job_seeker/fields/input.html" with label="Email Address" name="email" input_class="it3" %}
                        </div>
                    </fieldset>
                    <div class="_submit">
                        <div class="exit">Save and Exit</div>
                        <div class="cont" ng-click="save(data.personal_information)">Save and Continue</div>
                    </div>
                </div>
                <div class="section2">
                    <fieldset ng-repeat="item in data.current_employment">
                        <div class="title">Current Employment</div>
                        <div class="text">(If now unemployed give details of last employer)</div>
                        {% include "job_seeker/fields/input.html" with label="Name of Employer" name="name" input_class="it4" %}
                        {% include "job_seeker/fields/input.html" with label="First address" name="address_first" input_class="it4" %}
                        {% include "job_seeker/fields/input.html" with label="Second address" name="address_second" input_class="it4" %}
                        {% include "job_seeker/fields/input.html" with label="City" name="city" input_class="it4" %}
                        {% include "job_seeker/fields/input.html" with label="Postcode" name="postcode" input_class="it3" %}
                        {% include "job_seeker/fields/input.html" with label="Position title" name="position_title" input_class="it3" %}
                        {% include "job_seeker/fields/input.html" with label="Date Commenced" name="date_commenced" input_class="it3" class="field date" %}
                        {% include "job_seeker/fields/input.html" with label="Department/Section" name="department" input_class="it4" %}
                        {% include "job_seeker/fields/textarea.html" with label="Brief Description of Duties" name="brief" %}
                        {% include "job_seeker/fields/input.html" with label="Fulltime, Parttime or Casual" name="job_type" input_class="it2" class="field fl_left" %}
                        {% include "job_seeker/fields/input.html" with label="Last Day of Service <span>(if no longer employed)</span>" name="last_day_of_service" input_class="it2" class="field fl_left" %}
                        {% include "job_seeker/fields/textarea.html" with label="Reason for Leaving <span>(if no longer employed)</span>" name="leaving_reason" class="field fl_clear" %}
                    </fieldset>
                    <div class="_submit">
                        <div class="exit">Save and Exit</div>
                        <div class="cont" ng-click="save(data.current_employment)">Save and Continue</div>
                    </div>
                </div>
                <div class="section3">
                    <fieldset ng-repeat="item in data.previous_employments">
                        <div class="title">Previous Employment</div>
                        <div class="text">(Most recent Employer first. Please cover you last three positions if
                            applicable)
                        </div>
                        <div>
                            <a href="" ng-click="remove(item, data.previous_employments)">Remove</a>
                        </div>
                        {% include "job_seeker/fields/input.html" with label="Name of Employer" name="name" input_class="it4" %}
                        {% include "job_seeker/fields/input.html" with label="First address" name="address_first" input_class="it4" %}
                        {% include "job_seeker/fields/input.html" with label="Second address" name="address_second" input_class="it4" %}
                        {% include "job_seeker/fields/input.html" with label="City" name="city" input_class="it4" %}
                        {% include "job_seeker/fields/input.html" with label="Postcode" name="postcode" input_class="it3" %}
                        {% include "job_seeker/fields/input.html" with label="Position title" name="position_title" input_class="it3" %}
                        {% include "job_seeker/fields/textarea.html" with label="Brief Description of Duties" name="brief" %}
                        {% include "job_seeker/fields/textarea.html" with label="Reason for Leaving <span>(if no longer employed)</span>" name="leaving_reason" class="field fl_clear" %}
                    </fieldset>
                    <a href="" ng-click="append(data.previous_employments, '/api/v1/job_seeker_previous_employment/')">Add Another Position</a>

                    <div class="_submit">
                        <div class="exit">Save and Exit</div>
                        <div class="cont" ng-click="save(data.previous_employments)">Save and Continue</div>
                    </div>
                </div>
                <div class="s4">
                    <div class="title">Education</div>
                    <div class="text">(Qualifications from Schools, Colleges and Universities. Please list your
                        highest qualification first.)
                    </div>
                    <fieldset>
                        <div class="field">
                            <label>School, College, or University Name</label>

                            <div ng-repeat="item in data.educations | filter: {education_type:'school-college-or-university-name'}">
                                <input class="it4" type="text" ng-model="item.value"/><a href="" ng-click="remove(item, data.educations)">Del</a>
                            </div>
                            <a href="" ng-click="append(data.educations, '/api/v1/job_seeker_education/', {education_type:'school-college-or-university-name'})">Add another School, College or University</a>
                        </div>
                        <div class="field">
                            <label>Major Course of Study or Classes Taken</label>

                            <div ng-repeat="item in data.educations | filter: {education_type:'major-course-of-study-or-classes-taken'}">
                                <input class="it4" type="text" ng-model="item.value"/><a href="" ng-click="remove(item, data.educations)">Del</a>
                            </div>
                            <a href=""
                               ng-click="append(data.educations, '/api/v1/job_seeker_education/', {education_type:'major-course-of-study-or-classes-taken'})">Add
                                another Major Course of Study or Class Taken</a>
                        </div>
                        <div class="field">
                            <label>Degrees and/or Post-Graduate Qualifications Obtained</label>

                            <div ng-repeat="item in data.educations | filter: {education_type:'degrees-andor-post-graduate-qualifications-obtained'}">
                                <input class="it4" type="text" ng-model="item.value"/><a href="" ng-click="remove(item, data.educations)">Del</a>
                            </div>
                            <a href="" ng-click="append(data.educations, '/api/v1/job_seeker_education/', {education_type:'degrees-andor-post-graduate-qualifications-obtained'})">Add
                                another Degree and/or Post-Graduate Qualification Obtained</a>
                        </div>
                        <div class="field">
                            <label>Certificates and/or Diplomas Obtained</label>

                            <div ng-repeat="item in data.educations | filter: {education_type:'certificates-andor-diplomas-obtained'}">
                                <input class="it4" type="text" ng-model="item.value"/><a href="" ng-click="remove(item, data.educations)">Del</a>
                            </div>
                            <a href="" ng-click="append(data.educations, '/api/v1/job_seeker_education/', {education_type:'certificates-andor-diplomas-obtained'})">Add
                                another Certificate and/or Diploma Obtained</a>
                        </div>
                        <div class="field">
                            <label>Any Other Course Currently Enrolled In</label>

                            <div ng-repeat="item in data.educations | filter: {education_type:'any-other-course-currently-enrolled-in'}">
                                <input class="it4" type="text" ng-model="item.value"/>
                            </div>
                        </div>
                    </fieldset>
                    <div class="_submit">
                        <div class="exit">Save and Exit</div>
                        <div class="cont" ng-click="save(data.educations)">Save and Continue</div>
                    </div>
                </div>
                <div class="s5">
                    <fieldset ng-repeat="item in data.referees">
                        <div class="title">Referees</div>
                        <div>
                            <a href="" ng-click="remove(item, data.referees)">Remove</a>
                        </div>
                        <div class="text">(Please give the names and addresses of your two most recent employers or
                            other work related referees.)
                        </div>
                        {% include "job_seeker/fields/input.html" with label="Name" name="name" input_class="it3" %}
                        {% include "job_seeker/fields/input.html" with label="Position Title or Relationshi" name="position_title" input_class="it3" %}
                        {% include "job_seeker/fields/input.html" with label="First address" name="address_first" input_class="it4" %}
                        {% include "job_seeker/fields/input.html" with label="Second address" name="address_second" input_class="it4" %}
                        {% include "job_seeker/fields/input.html" with label="City" name="city" input_class="it4" %}
                        {% include "job_seeker/fields/input.html" with label="Postcode" name="postcode" input_class="it3" %}
                        {% include "job_seeker/fields/input.html" with label="Phone Number" name="phone_number" input_class="it2" %}
                        {% include "job_seeker/fields/input.html" with label="Email Address" name="email" input_class="it3" %}
                        {% include "job_seeker/fields/select.html" with label="Are you willing for this referee to be approached prior to an interview?" name="is_for_interview" %}
                        <div class="clear"></div>
                    </fieldset>
                    <a href="" ng-click="append(data.referees, '/api/v1/job_seeker_referee/')">Add Another Referee</a>

                    <div class="_submit">
                        <div class="exit">Save and Exit</div>
                        <div class="cont" ng-click="save(data.referees)">Save and Continue</div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    </script>

    <ng-view></ng-view>

    </div>

{% endblock %}