<fieldset>
    <div class="field">
        <label>Name of Employer</label>
        <input data-value="<%=type%>_<%=index%>.name" class="it4" type="text">
    </div>
    <div class="field">
        <label>Address</label>
        <input data-value="<%=type%>_<%=index%>.address_first" class="it4" type="text">
        <input data-value="<%=type%>_<%=index%>.address_second" class="it4" type="text">
        <input data-value="<%=type%>_<%=index%>.city" class="it4" type="text">
    </div>
    <div class="field">
        <label>Postcode</label>
        <input data-value="<%=type%>_<%=index%>.postcode" class="it3" type="text">
    </div>
    <div class="field">
        <label>Position Title</label>
        <input data-value="<%=type%>_<%=index%>.position_title" class="it3" type="text">
    </div>
    <div class="field">
        <label>Brief Description of Duties</label>
        <textarea data-value="<%=type%>_<%=index%>.brief"></textarea>
    </div>
    <div class="field">
        <label>Reason for Leaving</label>
        <textarea data-value="<%=type%>_<%=index%>.leaving_reason"></textarea>
    </div>
</fieldset>
