<fieldset>
    <div class="field">
        <label>Name</label>
        <input data-value="<%=type%>_<%=element.cid%>.name" class="it3" type="text">
        <div class="help-tip">
            <div class="help-tip-title">Helpful Tip!</div>
            <div class="help-tip-text"><div class="help-tip-right"></div>Name.</div>
        </div>
        <% if (element.errors['name']) { %>
        <div class="error_list">
            <% _.each(element.errors['name'],function(value){ %>
            <p><%=value%></p>
            <% }) %>
        </div>
        <% } %>
    </div>
    <div class="field">
        <label>Position Title or Relationship</label>
        <input data-value="<%=type%>_<%=element.cid%>.position_title" class="it3" type="text">
        <div class="help-tip">
            <div class="help-tip-title">Helpful Tip!</div>
            <div class="help-tip-text"><div class="help-tip-right"></div>Position Title or Relationship.</div>
        </div>
        <% if (element.errors['position_title']) { %>
        <div class="error_list">
            <% _.each(element.errors['position_title'],function(value){ %>
            <p><%=value%></p>
            <% }) %>
        </div>
        <% } %>
    </div>
    <div class="field">
        <label>Address first</label>
        <input data-value="<%=type%>_<%=element.cid%>.address_first" class="it4" type="text">
        <div class="help-tip">
            <div class="help-tip-title">Helpful Tip!</div>
            <div class="help-tip-text"><div class="help-tip-right"></div>Address first.</div>
        </div>
        <% if (element.errors['address_first']) { %>
        <div class="error_list">
            <% _.each(element.errors['address_first'],function(value){ %>
            <p><%=value%></p>
            <% }) %>
        </div>
        <% } %>
    </div>
    <div class="field">
        <label>Address second</label>
        <input data-value="<%=type%>_<%=element.cid%>.address_second" class="it4" type="text">
        <div class="help-tip">
            <div class="help-tip-title">Helpful Tip!</div>
            <div class="help-tip-text"><div class="help-tip-right"></div>Address second.</div>
        </div>
        <% if (element.errors['address_second']) { %>
        <div class="error_list">
            <% _.each(element.errors['address_second'],function(value){ %>
            <p><%=value%></p>
            <% }) %>
        </div>
        <% } %>
    </div>
    <div class="field">
        <label>City</label>
        <input data-value="<%=type%>_<%=element.cid%>.city" class="it4" type="text">
        <div class="help-tip">
            <div class="help-tip-title">Helpful Tip! </div>
            <div class="help-tip-text"><div class="help-tip-right"></div>City.</div>
        </div>
        <% if (element.errors['city']) { %>
        <div class="error_list">
            <% _.each(element.errors['city'],function(value){ %>
            <p><%=value%></p>
            <% }) %>
        </div>
        <% } %>
    </div>
    <div class="field">
        <label>Postcode</label>
        <input data-value="<%=type%>_<%=element.cid%>.postcode" class="it3" type="text">
        <div class="help-tip">
            <div class="help-tip-title">Helpful Tip! </div>
            <div class="help-tip-text"><div class="help-tip-right"></div>Postcode.</div>
        </div>
        <% if (element.errors['postcode']) { %>
        <div class="error_list">
            <% _.each(element.errors['postcode'],function(value){ %>
            <p><%=value%></p>
            <% }) %>
        </div>
        <% } %>
    </div>
    <div class="field">
        <label>Phone Number</label>
        <input data-value="<%=type%>_<%=element.cid%>.phone_number" class="it2" type="text">
        <div class="help-tip">
            <div class="help-tip-title">Helpful Tip!</div>
            <div class="help-tip-text"><div class="help-tip-right"></div>Phone Number.</div>
        </div>
        <% if (element.errors['phone_number']) { %>
        <div class="error_list">
            <% _.each(element.errors['phone_number'],function(value){ %>
            <p><%=value%></p>
            <% }) %>
        </div>
        <% } %>
    </div>
    <div class="field">
        <label>Email Address</label>
        <input data-value="<%=type%>_<%=element.cid%>.email" class="it3" type="text">
        <div class="help-tip">
            <div class="help-tip-title">Helpful Tip!</div>
            <div class="help-tip-text"><div class="help-tip-right"></div>Email Address.</div>
        </div>
        <% if (element.errors['email']) { %>
        <div class="error_list">
            <% _.each(element.errors['email'],function(value){ %>
            <p><%=value%></p>
            <% }) %>
        </div>
        <% } %>
    </div>
    <div class="field styled">
        <label>Are you willing for this referee to be approached prior to an interview?</label>
        <input id="is_for_interview_yes_<%=element.cid%>" type="radio" name="ch5" data-checked="<%=type%>_<%=element.cid%>.is_for_interview" value="true">
        <label for="is_for_interview_yes_<%=element.cid%>">
            <span></span>Yes
        </label>
        <input id="is_for_interview_no_<%=element.cid%>" type="radio" name="ch5" data-checked="<%=type%>_<%=element.cid%>.is_for_interview" value="false">
        <label for="is_for_interview_no_<%=element.cid%>">
            <span></span>No
        </label>
        <% if (element.errors['is_for_interview']) { %>
        <div class="error_list">
            <% _.each(element.errors['is_for_interview'],function(value){ %>
            <p><%=value%></p>
            <% }) %>
        </div>
        <% } %>
    </div>
</fieldset>