{% extends 'cover_letter/base.html' %}
{% load mptt_tags %}
{% load serialize %}
{% load main_tags %}

{% block content %}
    <div class="_content builder" ng-app="DynamicPaperApp" ng-controller="DynamicPaperCtrl"
         ng-init='set_data({ data:{% paper_tree object %}, name:{{ object|as_json|safe }}, select: {{ selected|as_json|safe }} })'>
        <h1>Cover Letter Builder<a href="{% url "job_seeker.profile.base" %}">Exit Cover Letter Builder</a></h1>

        <div class="top">
            <div class="title">Name This Cover Letter</div>
            <form>
                <paper-name data="paper.name"></paper-name>

                <div class="links">
                    <div class="title">Jump to Another Cover Letter</div>
                    <select  ui-select2="{ allowClear:true, width:'off'}" ng-model="paper.selected" data-placeholder="Select Cover Letter" id="select_cover_letter">
                        <option value=""></option>
                        <option ng-repeat="(v,k) in paper.select" value="/cover_letter/{[{k.id}]}/">{[{k.name}]}</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="list str1">
            <ul class="links">
                <li><a href="{% url 'cover_letter.view' object.pk %}">view cover letter</a></li>
                <li>|</li>
                <li><a href="{% url 'cover_letter.pdf' object.pk %}">download a PDF</a></li>
            </ul>
            <div class="list_it letter">
                <tree data="paper.data"></tree>
            </div>
            <br>
            {% if for_job %}
                <a class="button_common" href="{% url "employer.job.view" for_job.pk %}">Apply for {{ for_job.name }}</a>
            {% endif %}
                <a class="button_common" href="{% url "job_seeker.profile.base" %}">Exit Cover Letter Builder</a>
        </div>
    </div>
{% endblock %}