{% extends 'base.html' %}
{% load staticfiles %}
{% block library-js %}
    {{ block.super }}
    <script src="{% static 'userprofile/js/src/backbone/models.js' %}" type="text/javascript"></script>
    <script src="{% static 'userprofile/js/src/backbone/views.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div class="_content stages" xmlns="http://www.w3.org/1999/html">

        <h1>Your Application Information</h1>

        <div class="left">
            <ul>
                <li class="active"><a href="#">Section 1: Personal Information</a></li>
                <li><a href="#">Section 2: Current Employment</a></li>
                <li><a href="#">Section 3: Previous Employment</a></li>
                <li><a href="#">Section 4: Education</a></li>
                <li><a href="#">Section 5: References</a></li>
                <li><a href="#">Submit and Terms</a></li>
            </ul>
        </div>

        <div class="right">
            <ul>
                <li class="active" id="s1">Section 1</li>
                <li id="s2">Section 2</li>
                <li id="s3">Section 3</li>
                <li id="s4">Section 4</li>
                <li id="s5">Section 5</li>
            </ul>
            <div class="form">
                <form>
                    <div class="s1">
                        <div class="title">Personal Information</div>
                        <fieldset>
                            <div class="left_info">
                                <div class="field fl_left">
                                    <label>Last Name</label>
                                    <input data-value="job_seeker_information.last_name" class="it2" type="text">
                                </div>
                                <div class="field">
                                    <label>First Name</label>
                                    <input data-value="job_seeker_information.first_name" type="text">
                                </div>
                                <div class="field">
                                    <label>Address</label>
                                    <input data-value="job_seeker_information.address_first" class="it4" type="text">
                                    <input data-value="job_seeker_information.address_second" class="it4" type="text">
                                    <input data-value="job_seeker_information.city" class="it4" type="text">
                                </div>
                                <div class="field">
                                    <label>Postcode</label>
                                    <input data-value="job_seeker_information.postcode" class="it3" type="text">
                                </div>
                            </div>
                            <div class="avatar">
                                <div>Profile Picture (optional)</div>
                                <div class="img"><img src="img/002.jpg"></div>
                                <div class="links"><a href="#">Upload Photo</a>|<a href="#">Delete Picture</a></div>
                            </div>
                            <div class="bot_info">
                                <div class="field fl_left">
                                    <label>Home Phone Number</label>
                                    <input data-value="job_seeker_information.home_phone" class="it2" type="text">
                                </div>
                                <div class="field fl_left">
                                    <label>Daytime Phone Number</label>
                                    <input data-value="job_seeker_information.daytime_phone" class="it2" type="text">
                                </div>
                                <div class="field fl_left">
                                    <label>Mobile Phone Number</label>
                                    <input data-value="job_seeker_information.mobile_phone" class="it2" type="text">
                                </div>
                                <div class="field">
                                    <label>Email Address</label>
                                    <input data-value="job_seeker_information.email" class="it3" type="text">
                                </div>
                                <div class="field">
                                    <label>Can potential employers contact you at work?</label>
                                    <input class="styled" data-checked="job_seeker_information.can_contact_at_work" value="true"  type="radio" name="ch1">Yes
                                    <input class="styled" data-checked="job_seeker_information.can_contact_at_work" value="false" type="radio" name="ch1">No
                                </div>
                                <div class="field fl_left">
                                    <label>Are you an Australian Citizen / Permanent Resident?</label>
                                    <input class="styled" data-checked="job_seeker_information.is_australian" value="true" type="radio" name="ch2">Yes
                                    <input class="styled" data-checked="job_seeker_information.is_australian" value="false" type="radio" name="ch2">No
                                </div>
                                <div class="field">
                                    <label>If no do you have a working visa?</label>
                                    <input class="styled" data-checked="job_seeker_information.have_visa" value="true" type="radio" name="ch3">Yes
                                    <input class="styled" data-checked="job_seeker_information.have_visa" value="false" type="radio" name="ch3">No
                                </div>
                                <div class="text">(Note: To be eligible for employment, applicants must have the appropriate work visa or have permanent residency status.)
                                </div>
                                <div class="field">
                                    <label>Do you hold a current driver’s licence?</label>
                                    <input class="styled" data-checked="job_seeker_information.is_driver" value="true" type="radio" name="ch4">Yes
                                    <input class="styled" data-checked="job_seeker_information.is_driver" value="false" type="radio" name="ch4">No
                                </div>
                                <div class="_submit">
                                    <div class="exit">Save and Exit</div>
                                    <div class="cont" data-on-click="job_seeker_information:commit">Save and Continue</div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <script> new (profile_view_fabric('job_seeker_information'))({el:$('div.s1')});</script>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
