{% extends 'registration/base.html' %}

{% block stylesheet %}
    <style>
        .field {
            color: blue;
        }
        .field.error {
            color: red;
        }
    </style>
{% endblock %}

{% block templates %}
    <script id="form-template" type="text/template">
        <% _.each(fields,function(value,key) { %>
            <% if (model.types[key]) { %>
                <div class="field <% if (errors[key]) { %>error<% } %>">
                    <% if (model.types[key] != 'hidden') { %><label><%=model.labels[key]%></label><% } %>
                    <input data-value="<%=type%>.<%=key%>" type="<%=model.types[key]%>">
                    <% if (errors[key]) { %>
                        <ul>
                            <% _.each(errors[key],function(value){ %>
                                <li><%=value%></li>
                            <% }) %>
                        </ul>
                    <% } %>
                </div>
            <% } %>
        <% }) %>
        <% if (errors['__all__']) { %>
        <div class="field error">
        <ul>
            <% _.each(errors['__all__'],function(value){ %>
            <li><%=value%></li>
            <% }) %>
        </ul>
            </div>
        <% } %>
        <a href="#" data-on-click="<%=type%>:commit">Commit</a>
    </script>
{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form id="registration-form"></form>
{% endblock %}