{% extends 'registration/base.html' %}

{% block templates %}
    <script id="form-template" type="text/template">
        <% _.each(fields,function(value,key) { %>
            <div class="field">
                <% if (model.types[key] != 'hidden') { %><label><%=model.labels[key]%></label><% } %>
                <input data-value="<%=type%>.<%=key%>" type="<%=model.types[key]%>">
            </div>
        <% }) %>
        <a href="#" data-on-click="<%=type%>:commit">Commit</a>
    </script>
{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form id="registration-form"></form>
{% endblock %}