{% extends 'registration/base.html' %}

{% block templates %}
    <script id="form-template" type="text/template">
        <% for (var i=0; i < fields.length; i++) { %>
            <div class="field">
                <label><%=fields.at(i).get('label')%></label>
                <input data-value="<%=fields.at(i).get('name')%>.value" type="<%=fields.at(i).get('type')%>">
            </div>
        <% } %>
    </script>
{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form id="registration-form"></form>
{% endblock %}