{% load widget_tweaks %}
{% load staticfiles %}
<div class="field {{ class }}">
    <label>{{ label|default:field.label }}</label>

    <div class="category" ng-repeat="{{ field.name }} in job.{{ field.name }}_set">
        {{ field|attr:bind|attr:"id" }}
        <a class="remove_cross" href="" ng-click="remove(job.{{ field.name }}_set, $index)"></a>
    </div>
    <a class="add_cross" ng-click="append(job.{{ field.name }}_set)"
       ng-hide="upload_add_btn_hide(job.{{ field.name }}_set)"
       href="">Add {{ label|default:field.label }}</a>
</div>