{% load widget_tweaks %}
{% load staticfiles %}
<div class="field {{ class }}">
    <label>{{ label|default:field.label }}</label>

    <div class="category" ng-repeat="{{ field.name }} in job.{{ field.name }}_set">
        {{ field|attr:bind|attr:"id" }}
        <a class="remove" href="" ng-click="remove(job.{{ field.name }}_set, $index)"><img src="{% static 'main/img/icon_remove.png' %}"></a>
    </div>
    <a class="category_append" ng-click="append(job.{{ field.name }}_set)" href="">Add {{ label|default:field.label }}</a>
</div>