{% load widget_tweaks %}

<div class="field {{ class }}">
    {% if styled_title %}{{ styled_title }}{% else %}
    <label>{{ title|default:field.label }}</label>
    {% endif %}
    {{ field }}
    <div class="help-tip_hover">
        <div class="help-tip-title">Helpful Tip</div>
        <div class="help-tip-text"><div class="help-tip-right"></div>{{ tooltip|default:field.label }}</div>
    </div>
    <div class='error'>
        <p ng-repeat="error in error.{{ field.name }}">{[{ error }]}</p>
    </div>
</div>
