.paper{
    position: relative;
    width: 300px;
}
.container {
    background-color: #cccccc;
    border:  1px solid #e5e5e5;
    width: 300px;
    min-height: 30px;
}

.list .add-btn{
    width: 20px;
}

.container .remove-btn{
    float: right;
    width: 20px;
}