<div class="_search_box _search_job">
    <div class="_top">
        <div class="_icon"></div>
        <div class="_title">Job Search</div>
    </div>
    <div class="_center">
        <form class="search_from" method="POST" action="{% url "search.search" %}">
            {% csrf_token %}
            <fieldset>
                {% for filed in search_from.default_fields %}
                    <div class="_field {% if filed.name == "sub_categories" or  filed.name == "area"%}_pod{% endif %}">
                        <label>{{ filed.label }}</label>
                        {{ filed }}
                    </div>
                {% endfor %}
            </fieldset>
            {% if full_search_from %}
            <fieldset>
                {% for filed in search_from.more_options_fileds %}
                    <div class="_field {% if filed.name == "sub_categories" or  filed.name == "area"%}_pod{% endif %}">
                        <label>{{ filed.label }}</label>
                        {{ filed }}
                    </div>
                {% endfor %}
            </fieldset>
            {% endif %}
            <div class="_submit">
                {% if not full_search_from %}
                    <input class="_more" type="submit" value="More Options"/>
                {% endif %}
                <input class="_search_button" type="submit" value="Search"/>
            </div>
        </form>
    </div>
</div>