{% extends "base.html" %}

{% block content %}
    <div class="search_block">
        <div class="_search_box _select_map">
        </div>
        {% include "search/search_form.html" with search_from=form %}
    </div>
    <table style="width: 100%;">
        <thead>
        <tr>
            <td>Author</td>
            <td>Name</td>
            <td>Title</td>
            <td>Description</td>
            <td>Location</td>
            <td>Categories</td>
            <td>Sub Categories</td>
        </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.owner }}</td>
                <td>{{ job.name }}</td>
                <td>{{ job.title }}</td>
                <td>{{ job.description }}</td>
                <td>{{ job.location }}</td>
                <td>{{ job.categories.all }}</td>
                <td>{{ job.sub_categories.all }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}