<div class="_search_box _search_job{% if full_search_from %}  more-options{% endif %}">
    <div class="_top">
        <div class="_icon"></div>
        <div class="_title">Job Search</div>
    </div>
    <div class="_center">
        <form class="search_from" method="POST" action="{% url "search.search" %}">
            {% csrf_token %}
            <fieldset>
                {% for field in search_from.default_fields %}
                    {% if field.name == "executive_positions" %}
                        <div class="_field styled">
                            <label>{{ field.label }}</label>
                            <input id="id_executive_positions" type="checkbox" name="{{ field.name }}">
                            <label for="id_executive_positions"><span></span>Yes</label>
                        </div>
                    {% else %}
                        <div class="_field {% if field.name == "sub_categories" or  field.name == "area"%}_pod{% endif %}">
                            <label>{{ field.label }}</label>
                            {{ field }}
                        {# bad html hack for inset sub_categories and area #}

                        {% if field.name != "categories" and field.name != "location" %}
                            </div>
                        {% endif %}
                        {% if field.name == "sub_categories" or  field.name == "area" %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </fieldset>
            {% if full_search_from %}
            <fieldset>
                {% for field in search_from.more_options_fields %}
                    <div class="_field">
                        <label>{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </fieldset>
            {% endif %}
            <div class="_submit">
                {% if not full_search_from %}
                    <input class="_more" type="submit" value="More Options"/>
                {% endif %}
                <input class="_search_button" type="submit" value="Search"/>
            </div>
        </form>
    </div>
</div>