{% extends 'resume/base.html' %}
{% load mptt_tags %}
{% load serialize %}

{% block content %}
    <div class="_content builder" ng-app="DynamicPaperApp">
        <h1>Resume Builder<a href="{% url "job_seeker.profile.base" %}">Exit Resume Builder</a></h1>
        <div class="top">
            <div class="title">Resume</div>
            <form>
                <input type="text" data-value="resume_name.name">
                <div class="links">
                    <a class="link" href="#">Resume Builder Instructions</a>
{#                    <div class="pop">Popluate</div>#}
                    <div class="save">Save</div>
                </div>
            </form>
        </div>
        <div class="nav">
            <div class="info2">
                <div class="title">Jump to Another Resume</div>
                {{ resume_select.resume }}
            </div>
            <div class="info1">
                <ul>
                    <li data-text="resume_name.name"></li>
                </ul>
            </div>
        </div>
        <div class="list str1" ng-controller="DynamicPaperCtrl" ng-init='set_data([])'>

            {% recursetree object.resumeitem_set.all %}{ {{ node.as_json|safe }} }{% endrecursetree %}
            <ul class="links">
                <li><a href="#">view resume</a></li>
                <li>|</li>
                <li><a href="#">download a PDF</a></li>
            </ul>
            <div class="list_it">
                <paper data="paper_data"></paper>
            </div>
        </div>

    </div>
{% endblock %}
