{% extends 'resume/base.html' %}
{% load mptt_tags %}

{% block content %}
    <div class="_content builder">
        <h1>Resume Builder<a href="{% url "job_seeker.profile.base" %}">Exit Resume Builder</a></h1>
        <div class="top">
            <div class="title">Resume</div>
            <form>
                <input type="text" value="{{ resume.name }}">
                <div class="links">
                    <a class="link" href="#">Resume Builder Instructions</a>
{#                    <div class="pop">Popluate</div>#}
{#                    <div class="save">Save</div>#}
                </div>
            </form>
        </div>
        <div class="nav">
            <ul class="pages">
                <li id="str1" class="active">Page 1</li>
            </ul>
            <div class="info2">
                <div class="title">Jump to Another Resume</div>
                <div class="select2-container" id="s2id_e6"><a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">   <span>Create a New Resume</span><abbr class="select2-search-choice-close" style="display:none;"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text"><div class="select2-drop select2-with-searchbox" style="display:none">   <div class="select2-search">       <input type="text" autocomplete="off" class="select2-input">   </div>   <ul class="select2-results">   </ul></div></div><select id="e6" class="select2-offscreen" tabindex="-1">
            </select>
            </div>
            <div class="info1">
                <ul>
                    <li>{{ resume.name }}</li>
                    <li class="sep">|</li>
                    <li class="page">Page 1</li>
                </ul>
            </div>
        </div>
        <div class="list str1">
            <ul class="links">
{#                <li><a href="#">view resume</a></li>#}
{#                <li>|</li>#}
{#                <li><a href="#">download a PDF</a></li>#}
            </ul>
            <div class="list_it"></div>
        </div>

    </div>
{% endblock %}

{% block initialize-js %}
    <script>
        var type = 'resume', paper = {{ object.pk }};
        var paper_view = new (paper_view_factory(type,paper))({el: $('.list_it')});
        paper_view.collection.reset([
            {% recursetree object.resumeitem_set.all %}
                { {{ node.as_json|safe }}
                {% if not node.is_leaf_node %},'children': new (paper_collection_factory(type,paper))().reset([{{ children }}])},{% else %}},{% endif %}
            {% endrecursetree %}
        ]);
        paper_view.render();
    </script>
{% endblock %}