{% extends 'resume/base.html' %}
{% load mptt_tags %}
{% load serialize %}
{% load main_tags %}

{% block templates %}
{% endblock %}

{% block content %}
    <div class="_content builder" ng-app="DynamicPaperApp">
        <h1>Resume Builder<a href="{% url "job_seeker.profile.base" %}">Exit Resume Builder</a></h1>

        <div class="top">
            <div class="title">Resume</div>
            <form>
                <input type="text" data-value="resume_name.name">

                <div class="links">
                    <div class="title">Jump to Another Resume</div>
                    {{ resume_select.resume }}
                </div>
            </form>
        </div>
        <div class="list str1" ng-controller="DynamicPaperCtrl" ng-init='set_data({% paper_tree object %})'>
            <ul class="links">
                <li>
                    <a href="{% url 'resume.pdf' object.pk %}">download a PDF</a>
                </li>
            </ul>
            <div class="list_it">
                <tree data="paper_data">
                </tree>
            </div>
            <br>
            <a class="button_common" href="{% url "job_seeker.profile.base" %}">Exit Resume Builder</a>
        </div>

    </div>
{% endblock %}
