<!DOCTYPE html>
<html lang="en">
{% load mptt_tags %}
{% load main_tags %}
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Resume</title>
</head>
<body style='font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
             font-size: 14px;
             line-height: 20px;
             color: #333;'>
<div class="_content builder">
    <div class="list str1">
        <div class="list_it">
            {% recursetree object.resumeitem_set.all %}
                {% if node.type|contain_list %}
                    <div class="paper {{ node.item_class }}">{{ node.value }}</div>
                    <div class="group">{{ children }}</div>
                {% elif node.type|safe == "container" %}
                    <div class="paper container {{ node.item_class }}">{{ children }}</div>
                {% else %}
                    <div class="paper {{ node.item_class }} {{ node.type }} {% if node.type == "text" %} outline{% endif %}">{{ node.value }}</div>
                {% endif %}
            {% endrecursetree %}
        </div>
    </div>

</div>
</body>
</html>