{% extends 'job_seeker/base.html' %}
{% load staticfiles %}
{% load serialize %}
{% load job_seeker_information %}

{% block library-js %}
    {{ block.super }}
    <script src="{% static 'main/js/src/angular/routing/job_seeker_profile_route.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/js/src/angular/controllers/job_seeker_profile_edit_ctrl.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/js/src/angular/directives/job_seeker_profile_edit_dir.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/js/src/angular/factories/job_seeker_profile_edit_fact.js' %}"
            type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="_content stages">

    <div ng-controller="AplInfoData" ng-init='set_data({
            personal_information:{{ profile.personal_information|as_json|safe }},
            current_employment:{{ profile.current_employment|as_json|safe }},
            previous_employments:{{ profile.previous_employments_set.all|as_json }},
            educations:{{ profile.educations_set.all|as_json }},
            referees:{{ profile.referees_set.all|as_json }}
        })'></div>

    {#    <script type="text/ng-template" id="application-information"></script>#}

    <div ui-view="page"></div>

    <div ng-controller="AplInfoCtrl">
    <h1>Your Application Information</h1>

    <div class="left">
        <ul class="sections">
            <li class="section1 {% if user|section1_complete %}checked {% endif %}">
                <a change-section section="1" href="#/section/1/">Section 1: Personal Information</a>
            </li>
            <li class="section2 {% if user|section2_complete %}checked {% endif %}">
                <a change-section section="2"  href="#/section/2/">Section 2: Current Employment</a>
            </li>
            <li class="section3 {% if user|section3_complete %}checked {% endif %}">
                <a change-section section="3"  href="#/section/3/">Section 3: Previous Employment</a>
            </li>
            <li class="section4 {% if user|section4_complete %}checked {% endif %}">
                <a change-section section="4"  href="#/section/4/">Section 4: Education</a>
            </li>
            <li class="section5 {% if user|section5_complete %}checked {% endif %}">
                <a change-section section="5"  href="#/section/5/">Section 5: References</a>
            </li>
        </ul>
    </div>
    <div class="right">
        <ul class="sections">
            <li class="section1"><a change-section section="1">Section 1</a></li>
            <li class="section2"><a change-section section="2">Section 2</a></li>
            <li class="section3"><a change-section section="3">Section 3</a></li>
            <li class="section4"><a change-section section="4">Section 4</a></li>
            <li class="section5"><a change-section section="5">Section 5</a></li>
        </ul>
        <div class="form">
            <form class="pages sections">
                <div class="section1" style="display: none;">
                    <fieldset ng-repeat="item in data.personal_information">
                        <div ng-show="has_error(item.error)" class="error_top">Some of required fields are empty</div>
                        <div class="title">Personal Information</div>
                        <div class="clear"></div>
                        <div class="left_info">
                            {% include "fields/input.html" with label="Last Name" name="last_name" class="field fl_left" input_class="it2" %}
                            {% include "fields/input.html" with label="First Name" name="first_name" class="field fl_left" input_class="it2" %}
                            <div class="clear"></div>
                            {% include "fields/input.html" with label="First address" name="address_first" input_class="it4" %}
                            {% include "fields/input.html" with label="Second address" name="address_second" input_class="it4" %}
                            {% include "fields/input.html" with label="City" name="city" input_class="it4" %}
                            {% include "fields/input.html" with label="Postcode" name="postcode" input_class="it3" %}
                            {% include "fields/select.html" with label="Can potential employers contact you at work?" name="can_contact_at_work" ch="1" %}
                            {% include "fields/select.html" with label="Are you an Australian Citizen / Permanent Resident?" name="is_australian" ch="2" %}
                            {% include "fields/select.html" with label="If no do you have a working visa?" name="have_visa" ch="3" %}
                            <div class="text">(Note: To be eligible for employment, applicants must have the appropriate
                                work visa or have permanent residency status.)
                            </div>
                            {% include "fields/select.html" with label="Do you hold a current driver’s licence?" name="is_driver" ch="4" %}
                        </div>
                        <div class="avatar">
                            <upload photo="item.photo"></upload>
                        </div>
                        <div class="bot_info">
                            {% include "fields/input.html" with label="Home Phone Number" name="home_phone" input_class="it2" class="field fl_left" %}
                            {% include "fields/input.html" with label="Daytime Phone Number" name="daytime_phone" input_class="it2" class="field fl_left" %}
                            {% include "fields/input.html" with label="Mobile Phone Number" name="mobile_phone" input_class="it2" class="field fl_left" %}
                            <div class="clear"></div>
                            {% include "fields/input.html" with label="Email Address" name="email" input_class="it3" %}
                        </div>
                    </fieldset>
                    <div class="_submit">
                        <div class="exit" ng-click="save(data.personal_information, true)">Save and Exit</div>
                        <div class="cont" ng-click="save(data.personal_information, false, 2)">Save and Continue</div>
                    </div>
                </div>
                <div class="section2" style="display: none;">
                    <fieldset ng-repeat="item in data.current_employment">
                        <div ng-show="has_error(item.error)" class="error_top">Some of required fields are empty</div>
                        <div class="title">Current Employment</div>
                        <div class="clear"></div>
                        <div class="text">(If now unemployed give details of last employer)</div>
                        {% include "fields/input.html" with label="Name of Employer" name="name" input_class="it4" %}
                        {% include "fields/input.html" with label="First address" name="address_first" input_class="it4" %}
                        {% include "fields/input.html" with label="Second address" name="address_second" input_class="it4" %}
                        {% include "fields/input.html" with label="City" name="city" input_class="it4" %}
                        {% include "fields/input.html" with label="Postcode" name="postcode" input_class="it3" %}
                        {% include "fields/input.html" with label="Position title" name="position_title" input_class="it3" %}
                        {% include "fields/input.html" with label="Date Commenced" name="date_commenced" input_class="it3" class="field date" %}
                        {% include "fields/input.html" with label="Department/Section" name="department" input_class="it4" %}
                        {% include "fields/textarea.html" with label="Brief Description of Duties" name="brief" %}
                        {% include "fields/input.html" with label="Fulltime, Parttime or Casual" name="job_type" input_class="it2" class="field fl_left" %}
                        {% include "fields/input.html" with label="Last Day of Service <span>(if no longer employed)</span>" name="last_day_of_service" input_class="it2" class="field fl_left" %}
                        {% include "fields/textarea.html" with label="Reason for Leaving <span>(if no longer employed)</span>" name="leaving_reason" class="field fl_clear" %}
                    </fieldset>
                    <div class="_submit">
                        <div class="exit" ng-click="save(data.current_employment,true)">Save and Exit</div>
                        <div class="cont" ng-click="save(data.current_employment, false, 3)">Save and Continue</div>
                    </div>
                </div>
                <div class="section3" style="display: none;">
                    <fieldset ng-repeat="item in data.previous_employments">
                        <div ng-show="has_error(item.error)" class="error_top">Some of required fields are empty</div>
                        <div class="title">Previous Employment</div>
                        <div class="remove_cross">
                            <a href="" ng-click="remove(item, data.previous_employments)"></a>
                        </div>
                        <div class="clear"></div>
                        <div class="text">(Most recent Employer first. Please cover you last three positions if
                            applicable)
                        </div>
                        {% include "fields/input.html" with label="Name of Employer" name="name" input_class="it4" %}
                        {% include "fields/input.html" with label="First address" name="address_first" input_class="it4" %}
                        {% include "fields/input.html" with label="Second address" name="address_second" input_class="it4" %}
                        {% include "fields/input.html" with label="City" name="city" input_class="it4" %}
                        {% include "fields/input.html" with label="Postcode" name="postcode" input_class="it3" %}
                        {% include "fields/input.html" with label="Position title" name="position_title" input_class="it3" %}
                        {% include "fields/input.html" with label="Date Commenced" name="date_commenced" input_class="it3" class="field date" %}
                        {% include "fields/textarea.html" with label="Brief Description of Duties" name="brief" %}
                        {% include "fields/textarea.html" with label="Reason for Leaving <span>(if no longer employed)</span>" name="leaving_reason" class="field fl_clear" %}
                    </fieldset>
                    <a class="add_cross" href=""
                       ng-click="append(data.previous_employments, '/api/v1/job_seeker_previous_employment/')">Add
                        Another Position</a>

                    <div class="_submit">
                        <div class="exit" ng-click="save(data.previous_employments,true)">Save and Exit</div>
                        <div class="cont" ng-click="save(data.previous_employments, false, 4)">Save and Continue</div>
                    </div>
                </div>
                <div class="section4" style="display: none;">
                    <div class="title no_float">Education</div>
                    <div class="clear"></div>
                    <div class="text">(Qualifications from Schools, Colleges and Universities. Please list your
                        highest qualification first.)
                    </div>
                    <fieldset>
                        <div class="field">
                            <label>School, College, or University Name</label>

                            <div ng-repeat="item in data.educations | filter: {education_type:'school-college-or-university-name'}">
                                <input class="it4" type="text" ng-model="item.value"/><a class="remove_cross" href=""
                                                                                         ng-click="remove(item, data.educations)"></a>
                            </div>
                            <a class="add_cross" href=""
                               ng-click="append(data.educations, '/api/v1/job_seeker_education/', {education_type:'school-college-or-university-name'})">Add
                                another School, College or University</a>
                        </div>
                        <div class="field">
                            <label>Major Course of Study or Classes Taken</label>

                            <div ng-repeat="item in data.educations | filter: {education_type:'major-course-of-study-or-classes-taken'}">
                                <input class="it4" type="text" ng-model="item.value"/><a class="remove_cross" href=""
                                                                                         ng-click="remove(item, data.educations)"></a>
                            </div>
                            <a class="add_cross" href=""
                               ng-click="append(data.educations, '/api/v1/job_seeker_education/', {education_type:'major-course-of-study-or-classes-taken'})">Add
                                another Major Course of Study or Class Taken</a>
                        </div>
                        <div class="field">
                            <label>Degrees and/or Post-Graduate Qualifications Obtained</label>

                            <div ng-repeat="item in data.educations | filter: {education_type:'degrees-andor-post-graduate-qualifications-obtained'}">
                                <input class="it4" type="text" ng-model="item.value"/><a class="remove_cross" href=""
                                                                                         ng-click="remove(item, data.educations)"></a>
                            </div>
                            <a class="add_cross" href=""
                               ng-click="append(data.educations, '/api/v1/job_seeker_education/', {education_type:'degrees-andor-post-graduate-qualifications-obtained'})">Add
                                another Degree and/or Post-Graduate Qualification Obtained</a>
                        </div>
                        <div class="field">
                            <label>Certificates and/or Diplomas Obtained</label>

                            <div ng-repeat="item in data.educations | filter: {education_type:'certificates-andor-diplomas-obtained'}">
                                <input class="it4" type="text" ng-model="item.value"/><a class="remove_cross" href=""
                                                                                         ng-click="remove(item, data.educations)"></a>
                            </div>
                            <a class="add_cross" href=""
                               ng-click="append(data.educations, '/api/v1/job_seeker_education/', {education_type:'certificates-andor-diplomas-obtained'})">Add
                                another Certificate and/or Diploma Obtained</a>
                        </div>
                        <div class="field">
                            <label>Any Other Course Currently Enrolled In</label>

                            <div ng-repeat="item in data.educations | filter: {education_type:'any-other-course-currently-enrolled-in'}">
                                <input class="it4" type="text" ng-model="item.value"/>
                            </div>
                        </div>
                    </fieldset>
                    <div class="_submit">
                        <div class="exit" ng-click="save(data.educations,true)">Save and Exit</div>
                        <div class="cont" ng-click="save(data.educations, false, 5)">Save and Continue</div>
                    </div>
                </div>
                <div class="section5" style="display: none;">
                    <fieldset ng-repeat="item in data.referees">
                        <div ng-show="has_error(item.error)" class="error_top">Some of required fields are empty</div>
                        <div class="title">Referees</div>
                        <div class="remove_cross">
                            <a href="" ng-click="remove(item, data.referees)"></a>
                        </div>
                        <div class="clear"></div>
                        <div class="text">(Please give the names and addresses of your two most recent employers or
                            other work related referees.)
                        </div>
                        {% include "fields/input.html" with label="Name" name="name" input_class="it3" %}
                        {% include "fields/input.html" with label="Position Title or Relationshi" name="position_title" input_class="it3" %}
                        {% include "fields/input.html" with label="First address" name="address_first" input_class="it4" %}
                        {% include "fields/input.html" with label="Second address" name="address_second" input_class="it4" %}
                        {% include "fields/input.html" with label="City" name="city" input_class="it4" %}
                        {% include "fields/input.html" with label="Postcode" name="postcode" input_class="it3" %}
                        {% include "fields/input.html" with label="Phone Number" name="phone_number" input_class="it2" %}
                        {% include "fields/input.html" with label="Email Address" name="email" input_class="it3" %}
                        {% include "fields/select.html" with label="Are you willing for this referee to be approached prior to an interview?" name="is_for_interview" %}
                        <div class="clear"></div>
                    </fieldset>
                    <a class="add_cross" href="" ng-click="append(data.referees, '/api/v1/job_seeker_referee/')">Add
                        Another Referee</a>

                    <div class="_submit">
                        <div class="exit" ng-click="save(data.referees,true)">Save and Exit</div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    </div>

    </div>

{% endblock %}