{% extends 'userprofile/base.html' %}
{% load flatblock_tags %}
{% load thumbnail %}
{% load serialize %}

{% block templates %}
    {{ block.super }}
    <script id="employer_form_template" type="text/template">
        <h1>Your Business Information</h1>
        <% _.each(collection.models,function(element, index) { %>
        <div class="left">
            <div class="company-logo">
                <div>Company Logo (optional)</div>
                {% load staticfiles %}
                <div class="img">
                    <img id="company_logo" data-src="<%=type%>_<%=element.cid%>.logo">
                    <div class="links">
                        <a id="link_upload_file" href="#">Upload Photo</a>|
                        <a data-url="{% url "remove" "employer_company_logo" %}" id="link_remove_file" href="#">Delete Picture</a>
                    </div>
                </div>
                <input class="_hide" id="fileupload" type="file" name="files[]" data-url="{% url "upload" "employer_company_logo" %}">
            </div>
        </div>
        <div class="right">
            <div class="form">
                <form>
                    <div class="section1">
                        {% include "employer/form_template.html" %}
                        <div class="_submit">
                            <div class="exit" data-on-click="employer_view:commit_and_exit">Save and Exit</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <% }) %>
    </script>
{% endblock %}

{% block content %}
    <div class="_content stages"></div>
            <script>
                var page_dict = {
                    'employer': {
                        'section': 1,
                        'collection':{% autoescape off %}{{ user.profile|as_json }}{% endautoescape %}
                    }
                };
                _.each(page_dict, function (value, key) {
                    new (profile_view_fabric(key,'/'))({
                        el: $('._content.stages'),
                        collection: new (profile_collection_fabric(key))(value.collection)
                    });
                });
            </script>
{% endblock %}

{% block initialize-js %}
    {{ block.super }}
    <script>
        $('#fileupload').fileupload({
            singleFileUploads: true,
            dataType: 'json',
            done: function (e, data) {
                $('#company_logo').attr('src',data.result.url);
            }
        });
        $('#link_upload_file').on('click',function(){
            $('#fileupload').trigger('click');
            return false;
        });
        $('#link_remove_file').on('click',function(){
            $.ajax({
                url: $(this).attr('data-url')
            }).done(function ( data ) {
                $('#company_logo').attr('src',data.url);
            });
            return false;
        })
    </script>
{% endblock %}