{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load flatblock_tags %}

{% block library-js %}
{{ block.super }}
<script src="{% static 'main/js/src/angular/controllers/employer_job_list_ctrl.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="_content job_seeker">

    <h1>{{ profile.company }}’s Account Home Page</h1>

    {% with employer=profile %}
    <div>
        <div class="info_half form float_left">
            <div class="title">General Business Information</div>
            <div class="field fl_left">
                <label>Company Name:</label>
                <label>{{ employer.company }}</label>
            </div>
            <div class="field">
                <label>ABN/ACN:</label>
                <label>{{ employer.abn_or_acn }}</label>
            </div>
            <div class="field">
                <label>Address:</label>
                <label>{{ employer.address_first }}</label>
                <label>{{ employer.address_second }}</label>
                <label>{{ employer.city }}</label>
            </div>
            <div class="field">
                <label>Postcode:</label>
                <label>{{ employer.postcode }}</label>
            </div>
            <div class="field">
                <label>Business Phone:</label>
                <label>{{ employer.business_phone }}</label>
            </div>
            <div class="field">
                <label>Brief Description of Your Company:</label>
                <div>{{ employer.brief|truncatechars:200|linebreaksbr }}</div>
            </div>
        </div>
        <div class="info_half float_right">
            <div class="form">
                <div class="title">Account Contact Person</div>
                <div class="clear"></div>
                <div class="field">
                    <label>Name:</label>
                    <label>{{ employer.name }}</label>
                </div>
                <div class="field">
                    <label>Phone:</label>
                    <label>{{ employer.phone }}</label>
                </div>
                <div class="field">
                    <label>Email Address:</label>
                    <label>{{ employer.email }}</label>
                </div>
            </div>
            <a class="button_common" href="{% url "employer.profile.edit" %}">Edit Your Company Information</a>
            <a class="button_common_blue" href="{% url "employer.profile.public" employer.pk %}">View Your Company Information</a>
        </div>
    </div>
    {% endwith %}

    <div ng-controller="ListJobCtrl">
        <div class="clear"></div>
        <h1 class="h1_margin_top">
            <ul>
                <li ng-class="{active: !archived}">
                <a ng-click="set_archived(false)">Job list</a>
                <div></div>
                </li>
                <li ng-class="{active: archived}">
                <a ng-click="set_archived(true)">Archive Postings</a>
                <div></div>
                </li>
                <div class="clear"></div>
            </ul>
        </h1>

        <div class="search-result">
            <div class="job_cont" ng-repeat="job in data.objects">
                <ng-include src="'/static/employer/templates/job/banner.html'"></ng-include>
            </div>
        </div>
        <div class="clear"></div>
        <div class="pagination_border">
            <div class="pagination paginator">
                <ul>
                    <li ng-class="{inactive: !data.meta.previous}">
                        <a ng-click="get_data(data.meta.previous,current-1)"></a>
                    </li>
                    <li ng-repeat="item in pages|makeRange" ng-class="{current:item==current}">
                        <a ng-click="get_data(get_url(item),item)">{[{ item+1 }]}</a>
                    </li>
                    <li ng-class="{inactive: !data.meta.next}">
                        <a ng-click="get_data(data.meta.next,current+1)"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="spacing">
        <a class="button_common positioning" href="{% url "employer.job.create" %}">Click here to post a job now</a>
    </div>
</div>
{% endblock %}
