{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load flatblock_tags %}

{% block content %}
    <div class="_content job_seeker">

        <h1>{{ profile.company }}’s Account Home Page</h1>

        <div>
            <div class="info_half form float_left">
                <div class="title">General Business Information</div>
                <div class="field fl_left">
                    <label>Company Name:</label>
                    <label>{{ employer.company }}12</label>
                </div>
                <div class="field">
                    <label>ABN/ACN:</label>
                    <label>{{ employer.abn_or_acn }}12</label>
                </div>
                <div class="field">
                    <label>Address:</label>
                    <label>{{ employer.address_first }}</label>
                    <label>{{ employer.address_second }}</label>
                    <label>{{ employer.city }}</label>
                </div>
                <div class="field">
                    <label>Postcode:</label>
                    <label>{{ employer.postcode }}</label>
                </div>
                <div class="field">
                    <label>Business Phone:</label>
                    <label>{{ employer.business_phone }}</label>
                </div>
                <div class="field">
                    <label>Brief Description of Your Company:</label>
                    <div>{{ employer.brief|linebreaksbr }}</div>
                </div>
            </div>
            <div class="info_half float_right">
                <div class="title">Account Contact Person</div>
                <div class="clear"></div>
                <div class="field">
                    <label>Name:</label>
                    <label>{{ employer.name }}</label>
                </div>
                <div class="field">
                    <label>Phone:</label>
                    <label>{{ employer.phone }}</label>
                </div>
                <div class="field">
                    <label>Email Address:</label>
                    <label>{{ employer.email }}</label>
                </div>
                <a class="button_common positioning_3" href="#">Edit Your Company Information</a>
            </div>
        </div>

        <div class="clear"></div>
        <h1 class="h1_margin_top">
            <ul>
                <li class="active">
                    <a href="#">Job list</a>
                    <div></div>
                </li>
                <li>
                    <a href="#">Archive Postings</a>
                    <div></div>
                </li>
                <div class="clear"></div>
            </ul>
        </h1>

        <div class="search-result">
            {% for job in object_list %}
                {% include "job_banner.html" %}
            {% endfor %}
        </div>
        <div class="clear"></div>
        {% include "paginator.html" %}
        <div class="spacing">
            <a class="button_common positioning" href="{% url "employer.job.create" %}">Click here to post a job now</a>
        </div>
    </div>
{% endblock %}
