{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load flatblock_tags %}

{% block content %}
    <div class="_content job_seeker">

        <h1>{{ profile.company }}’s Account Home Page</h1>

        <div class="user_info">
            <div class="avatar">
                {% thumbnail profile.logo "137x137" crop="center" as im %}
                    <img src="{{ im.url }}">
                {% empty %}
                    <img width="137" height="137" src="{{ profile.personal_information.get_photo_url }}">
                {% endthumbnail %}
            </div>
            <div class="hello">Hi {{ user.profile.company }}!</div>
            <div class="desc">{{ user.profile.brief }}</div>
        </div>
        <div class="app_info">
            <div class="title">Your Company Information</div>
            <div class="center">
                <ul>
                    <li><a href="{% url "employer.profile.public" profile.pk %}">View Your Company Information</a></li>
                    <li><a href="{% url "employer.profile.edit" %}">Edit Your Company Information</a></li>
                    <li><a href="{% url "employer.job.create" %}">Post Job</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <h1 class="h1_margin_top">
            <ul>
                <li class="active">
                    <a href="#">Job list</a>
                    <div></div>
                </li>
                <li>
                    <a href="#">Archive Postings</a>
                    <div></div>
                </li>
                <div class="clear"></div>
            </ul>
        </h1>

        <div class="search-result">
            {% for job in object_list %}
                {% include "job_banner.html" %}
            {% endfor %}
        </div>
        <div class="clear"></div>
        {% include "paginator.html" %}
        <div class="spacing">
            <a class="button_common positioning" href="{% url "employer.job.create" %}">Click here to post a job now</a>
        </div>
    </div>
{% endblock %}
