{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
    <div class="_content stages">
    <h1>{{ employer.company }} Information</h1>
    {% thumbnail employer.logo "220x220" crop="center" as im %}
        <div class="left">
            <div class="company-logo">
                <div>Company Logo (optional)</div>
                <div class="img"><img src="{{ im.url }}" width="220" height="220" /></div>
            </div>
        </div>
    {% endthumbnail %}

    <div class="right">

    <div class="form">
    <div class="s1">
        <div class="title">General Business Information</div>
        <fieldset>
            <div class="left_info">
                <div class="field fl_left">
                    <label>Company Name</label>
                    <label>{{ employer.company }}</label>
                </div>
                <div class="field">
                    <label>ABN/ACN</label>
                    <label>{{ employer.abn_or_acn }}</label>
                </div>
                <div class="field">
                    <label>Address</label>
                    <label>{{ employer.address_first }}</label>
                    <label>{{ employer.address_second }}</label>
                    <label>{{ employer.city }}</label>
                </div>
                <div class="field">
                    <label>Postcode</label>
                    <label>{{ employer.postcode }}</label>
                </div>
                <div class="field">
                    <label>Business Phone</label>
                    <label>{{ employer.business_phone }}</label>
                </div>
                <div class="field">
                    <label>Brief Description of Your Company</label>
                    <div>{{ employer.brief|linebreaksbr }}</div>
                </div>
            </div>
            <div class="bot_info">
                <div class="title">Account Contact Person</div>
                <div class="field">
                    <label>Name</label>
                    <label>{{ employer.name }}</label>
                </div>
                <div class="field">
                    <label>Phone</label>
                    <label>{{ employer.phone }}</label>
                </div>
                <div class="field">
                    <label>Email Address</label>
                    <label>{{ employer.email }}</label>
                </div>
            </div>
        </fieldset>
    </div>
    </div>
    </div>
    <div class="clear"></div>
    <div>
        {% for job in employer.user.job_set.all %}
            {% include "job_banner.html" %}
        {% endfor %}
    </div>
    </div>
{% endblock %}