<fieldset>
    <div class="field">
        <label>Category</label>
        <select id="e7">
            <option>Category</option>
            <option>Category</option>
            <option>Category</option>
            <option>Category</option>
        </select>
    </div>
    <div class="field pod">
        <label>Sub-category</label>
        <select id="e8">
            <option>Sub-category</option>
            <option>Sub-category</option>
            <option>Sub-category</option>
            <option>Sub-category</option>
        </select>
    </div>
    <br/>

    <div class="field star">
        <p>Would you like to <span>  add another Sub-Category </span>for only $25? </p>
        <label>
            <input class="styled" type="radio" name="ch5"/>Yes!
        </label>
        <label>
            <input class="styled" type="radio" name="ch5"/>No Thanks
        </label>
    </div>

    <div class="field star">
        <p>Would you like to <span>add another Categeory AND Sub-Category </span> for only $30? </p>
        <label><input class="styled" type="radio" name="ch5"/>Yes!</label><label><input class="styled"
                                                                                        type="radio"
                                                                                        name="ch5"/>No
        Thanks</label>
    </div>
    <div class="field star">
        <p>Would you like to make this an <span>exclusive Executive Position </span> for only $25?</p>
        <label><input class="styled" type="radio" name="ch5"/>Yes!</label><label><input class="styled"
                                                                                        type="radio"
                                                                                        name="ch5"/>No
        Thanks</label>
    </div>
    <div class="field star">
        <p>Would you like to <span> make this a “Featured Jobs” Ad that appears on the Home Page </span> for
            only $100?</p>
        <label><input class="styled" type="radio" name="ch5"/>Yes!</label><label><input class="styled"
                                                                                        type="radio"
                                                                                        name="ch5"/>No
        Thanks</label>
    </div>
</fieldset>