<fieldset>
    <div class="field">
        <label>Upload Other Supporting Documents</label>
        <a href="#">Upload a Supporting Document</a><br/>

        <div class="text">(Note: You can upload as many other supporting documents as you’d like.)</div>
    </div>

    <div class="field">
        <label>School, College, or University Name</label>
        <a href="#">Upload the Full Position Description</a><br/>

        <div class="text">(Note: You may only upload one Full Position Description)</div>
    </div>
</fieldset>