{% extends 'promo/base.html' %}
{% load flatblock_tags %}
{% load thumbnail %}
{% load serialize %}

{% block content %}
    <div class="_content stages employer">
        <div class="left">
            <div class="register-post-job">
                <div>
                    <p>Register now and <br/> post a job anytime for <br/> just</p>
                    <span>$220</span>
                </div>
                <p>Finally one place for recruitment of <br/> Aboriginal and Torres Strait islander people!</p>
                <br/>
                <p>Same day publication of Advertisements - no <br/> fuss, direct, targeted, recruitment - target the<br/>people you want working for you!</p>
            </div>
        </div>
        <div class="right">
            <p>REGISTER <span>NOW!</span></p>

            <div class="form">
                <form id="register_promo_employer_form" ng-controller="RegisterEmployerCtrl"
                      data-next-url="{% url "employer.profile.edit" %}">
                    <div class="field">
                        <label>Company Name</label>
                        <input class="it3" type="text" ng-model="reg.company_name">

                        <div class="error">
                            <span ng-repeat="err in error.company_name">{[{err}]}<br></span>
                        </div>
                    </div>
                    <div class="field">
                        <label>Email Address</label>
                        <input class="it3" type="text" ng-model="reg.email_address">

                        <div class="error">
                            <span ng-repeat="err in error.email_address">{[{err}]}<br></span>
                        </div>
                    </div>
                    <div class="field">
                        <label>Phone Number</label>
                        <input class="it3" type="text" ng-model="reg.phone_number">

                        <div class="error">
                            <span ng-repeat="err in error.password">{[{err}]}<br></span>
                        </div>
                    </div>
                    <div class="field fl_left">
                        <label>Password</label>
                        <input class="it1" type="password" ng-model="reg.password">

                        <div class="error">
                            <span ng-repeat="err in error.password">{[{err}]}<br></span>
                        </div>
                    </div>
                    <div class="field fl_left">
                        <label>Re-type Password</label>
                        <input class="it1" type="password" ng-model="reg.re_password">

                        <div class="error">
                            <span ng-repeat="err in error.re_password">{[{err}]}<br></span>
                        </div>
                    </div>
                    <div class="_submit" id="emp">
                        <div class="exit" ng-click="submit()">Continue</div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clear"></div>
        <a href="{% url "pricing" %}" class="left-pricing"><span>Click here to see our</span><br/> Pricing Guide</a>
        <a href="{% url "contact_us" %}" class="right-contact"><span>Need help ?</span><br/>Contact Us</a>
    </div>
{% endblock %}
