/* Input */
.form div.field input[type=text] {
    width:254px !important;
    color:#989898 !important;
    font:16px Georgia !important;
    border:1px solid #c4c4c4 !important;
    margin:5px 0 !important;
    padding:4px 7px !important;
}

.form div.field.it4 input[type=text] {
    width:417px !important;
}

.form div.field.it3 input[type=text] {
    width:254px !important;
}

.form div.field.it2 input[type=text] {
    width:178px !important;
}

.form div.field.it-pod input[type=text] {
    width:215px !important;
}

.form div.field.it-pod2 input[type=text] {
    width:590px !important;
}

.form div.field textarea {
    width:646px !important;
    height:130px !important;
    color:#989898 !important;
    border:1px solid #c4c4c4 !important;
    margin:5px 0 !important;
    padding:4px 7px !important;
}

.form div.field {
    margin:0 0 10px !important;
}

.form div.field label {
    margin:0 30px 0 0 !important;
}

.form div.field label:first-child {
    display:block !important;
    color:#d86a2b !important;
    font-weight:700 !important;
    font-size:14px !important;
    margin:0 !important;
}

.form div.field label:first-child span {
    color:#494949 !important;
    font-style:italic !important;
    font-size:11px !important;
    font-weight:400 !important;
}

.form div.field .text {
    color:#494949 !important;
    font-style:italic !important;
    font-size:11px !important;
    margin:0 0 10px !important;
}

.form div.field .text2 {
    color:#494949 !important;
    font-size:11px !important;
    margin:0 0 10px !important;
}

.form div.field .field a {
    clear:both !important;
    display:block !important;
}

.form div.field .field .radio {
    vertical-align:middle !important;
    width:19px !important;
    height:20px !important;
    cursor:pointer !important;
    background:url(../img/checkbox.png) no-repeat !important;
}

.form div.field .field .radio.checked {
    background-position:0 -22px !important;
}

.form div.field ._submit {
    clear:both !important;
    display:inline-block !important;
    margin:30px 0 !important;
    padding:0 172px !important;
}

.form div.field.fl_left, .job-information div:first-child {
    float:left !important;
    margin-right:20px !important;
}

.select2-choice {
  min-height: 20px;
  overflow-y: auto;
}
