.employer-name{
    margin-bottom: 15px;
}

.stages .right ul li {
    padding: 0;
}

.close_hide {
    cursor: default;
}

div.styled input[type=checkbox] {
    display:none;
}

div.styled input[type=checkbox] + label {
    font-family:Arial, sans-serif;
    font-size:14px;
}

div.styled input[type=checkbox] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    vertical-align:middle;
    background:url(../img/checkbox.png) left top no-repeat;
    cursor:pointer;
    margin:-1px 4px 0 0;
}

div.styled input[type=checkbox]:checked + label span {
    background:url(../img/checkbox.png) 0 -22px;
}

.stages .right .form input[type=password] {
    width:124px;
    color:#989898;
    font:16px Georgia;
    border:1px solid #c4c4c4;
    margin:5px 0;
    padding:4px 7px;
}

.stages .right .form input[type=password].it3 {
    width:254px;
}

.gray{
    color: #b3b3b3;
}
