.select2-drop.select2-display-none.select2-drop-active.select2-with-searchbox {
}

.select2-results .select2-no-results, .select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: #fff;
}

.select2-container .select2-choice {
    background: #fff;
    border-radius: 0;
    width: 260px;
}

.select2-dropdown-open .select2-choice {
    background: #fff;
}

.select2-container.select2-drop-above .select2-choice {
    background: #fff;
    border-radius: 0;
}

.select2-container .select2-choice div {
    border-radius: 0;
}

.select2-drop {
    border-radius: 0;
}

.builder .top .links .select2-container a {
    border: 1px solid #AAAAAA;
    width: 165px;
}

.select2-drop.select2-drop-above {
    border-radius: 0;
}

.select2-container {
    float: right;
}

.stages .right .form .select2-container {
    float: none;
    margin-top: 5px;
}

.field.pod input.select2-offscreen, .field.pod2 input.select2-offscreen {
    position: absolute;
}


._center .select2-container .select2-choice {
    width: 230px;
}

._center .select2-container {
    float: none;
}
