* {
    margin:0;
    padding:0;
}

body {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    line-height:20px;
    color:#333;
    background:url(../img/bg.png) repeat-x;
    margin:0;
}

a {
    text-decoration:none;
    color:#409bcd;
}

.error input {
    border:1px red solid;
}

form .error_list {
    color:red;
    font-size:10px;
}

input {
    vertical-align:middle;
}

:focus {
    outline:none;
}

textarea {
    resize:none;
}

.niceCheck {
    width:19px;
    height:20px;
    display:inline-block;
    cursor:pointer;
    background:url(../img/checkbox.png) no-repeat;
    margin:7px 5px -5px 0;
}

._wrapper {
    width:940px;
    overflow:hidden;
    position:relative;
    margin:0 auto 35px;
}

._content {
    overflow:hidden;
    margin:25px 0 0;
}

._content h1 {
    color:#fff;
    font:22px Helvetica;
    background:#e4732b;
    margin:0 0 33px;
    padding:6px 12px;
}

._content h1 a {
    float:right;
    color:#fff;
    text-decoration:underline;
    font-size:14px;
    margin:5px 0 0;
}

.prev_footer {
    background:#bde1f4;
    height:100px;
    width:100%;
    margin:-85px 0 0;
}

footer {
    background:#bde1f4;
    height:50px;
}

footer ._footer {
    width:890px;
    height:35px;
    color:#fff;
    font-size:12px;
    background:#58a8d4;
    overflow:hidden;
    margin:0 auto;
    padding:15px 25px 0;
}

footer ._footer ._footer_nav {
    float:right;
    margin:0;
}

footer ._footer ._footer_nav ul li {
    float:left;
    margin:0 0 0 7px;
}

footer ._footer ._footer_nav ul li a {
    color:#fff;
    font-size:10px;
}

._top_navigation {
    list-style:none;
    font-size:12px;
    float:right;
    margin:3px 0 0;
}

._top_navigation li {
    float:left;
    color:#fff;
    margin:0 3px;
}

._top_navigation li a {
    color:#fff;
}

._logo {
    display:block;
    width:200px;
    height:56px;
    background:url(../img/logo-beta.png) no-repeat;
    clear:both;
    position:relative;
    top:20px;
}

._login {
    min-width:150px;
    height:45px;
    background:#fff;
    clear:both;
    float:right;
    -moz-border-radius:0 0 4px 4px;
    -webkit-border-radius:0 0 4px 4px;
    border-radius:0 0 4px 4px;
    box-shadow:3px 3px 4px rgba(0,0,0,0.3);
    margin:-53px 0 0;
    padding:6px 0 0 8px;
}

._login ._avatar {
    width:40px;
    height:40px;
    background:url(../img/avatar.png) no-repeat;
    float:left;
    margin:0 6px 0 0;
}

._login ._hello {
    font-size:10px;
    color:#999;
    float:left;
    margin:-4px 0 0;
}

._login ._auth,._login ._logout {
    width:96px;
    text-align:center;
    background:#409bcd;
    color:#fff;
    font-size:13px;
    float:left;
    cursor:pointer;
    padding:2px 0;
}

._navigation {
    clear:both;
    font-size:12px;
    margin:38px 0 0;
}

._navigation ul:first-child {
    list-style:none;
    float:left;
}

._navigation ul:last-child {
    list-style:none;
    float:right;
}

.ie9 ._navigation ul li {
    margin:0 10px 0 0;
}

._navigation ul li a {
    display:block;
    color:#8e8e8e;
    padding:8px;
}

._navigation ul li._reg,._navigation ul li._post {
    background:#409bcd;
    color:#fff;
    border-left:2px solid #fff;
    border-right:2px solid #fff;
    margin:0;
}

._navigation ul li._reg a,._navigation ul li._post a {
    color:#fff;
    padding:8px 10px;
}

._navigation ul li._post {
    background:#fabf69;
    border-left:none;
}

.search_block {
    height:390px;
}

._search_box {
    float:left;
    overflow:hidden;
}

._search_box ._top ._icon {
    width:40px;
    height:40px;
    float:left;
    background-color:#fabf69;
    background-repeat:no-repeat;
    background-position:center;
}

._search_box ._top ._title {
    float:left;
    color:#fff;
    font-size:18px;
    padding:10px 0 0 10px;
}

._search_box ._center {
    background:#f2fbff;
    border-right:1px solid #d5d5d5;
    border-left:1px solid #d5d5d5;
    border-bottom:1px solid #d5d5d5;
    overflow:hidden;
}

._select_map {
    width:360px;
    margin:0 22px 0 0;
}

._select_map ._top ._icon {
    background-image:url(../img/select_map.png);
}

._select_map ._center {
    height:296px;
    text-align:center;
    padding:7px 0;
}

._search_job {
    width:555px;
}
._search_job.more-options {
    width:940px;

}

._search_job ._top ._icon {
    background-image:url(../img/search_job.png);
}

._search_job ._center {
    min-height:262px;
    padding:25px 18px 23px;
}

._search_job ._center form fieldset ._field{
    width:240px;
    float:left;
    margin:0 35px 25px 0;
}

._search_box._search_job ._center form fieldset ._field:nth-child(2),._search_job ._center form fieldset ._field:nth-child(4),._search_job ._center form fieldset ._field:nth-child(6) {
    margin:0;
}
._search_box._search_job ._center form fieldset ._field:nth-child(2),._search_job ._center form fieldset ._field:nth-child(4),._search_job ._center form fieldset ._field:nth-child(6) {
    margin:0;
}

._search_box._search_job.more-options ._center form fieldset ._field{
    width:240px;
    float:left;
    margin:0 35px 25px 0;
}
._search_job ._center form fieldset ._field._pod #s2id_e4 .select2-choice, ._search_job ._center form fieldset ._field._pod #s2id_e5 .select2-choice {
    width: 184px!important;
}
._search_job ._center form fieldset ._field label {
    display:block;
    color:#d86a2b;
    text-align:left;
    font-weight:700;
    font-size:14px;
    margin:0 0 5px;
}

._search_job ._center form fieldset ._field input {
    width:224px;
    color:#989898;
    font:italic 16px Georgia;
    border:1px solid #c4c4c4;
    padding:4px 7px;
}

._search_job ._center form fieldset ._field._pod {
    width:200px;
    background:url(../img/select_line.png) 16px 0 no-repeat;
    margin-top:-8px;
    padding:0 0 0 40px;
}

._search_job ._center form fieldset ._field._pod label {
    margin:7px 0 5px;
}

._search_job ._center form fieldset ._field._pod #s2id_id_sub_categories .select2-choice,._search_job ._center form fieldset ._field._pod #s2id_id_area .select2-choice {
    width:184px!important;
}

._search_job ._center form ._submit {
    clear:both;
    padding:0 126px;
}

._search_job ._center form ._submit ._more {
    border:none;
    width:125px;
    text-align:center;
    font-size:14px;
    color:#fff;
    background:#409bcd;
    cursor:pointer;
    float:left;
    padding:5px 0;
}

._search_job ._center form ._submit ._search_button {
    border:none;
    width:125px;
    text-align:center;
    font-size:14px;
    color:#fff;
    background:#e4732b;
    cursor:pointer;
    float:right;
    margin:0;
    padding:7px 0;
}

._slider_block {
    height:206px;
    background:#bde1f4;
    margin:0 0 -28px;
}

._slider_block ._slider {
    width:940px;
    height:206px;
    background:url(../img/slider.png) no-repeat;
    position:relative;
    top:-28px;
    margin:0 auto;
}

._slider_block ._slider ._slider_title {
    color:#d86a2b;
    font-size:20px;
    position:relative;
    left:43px;
    top:17px;
}

._slider_block ._slider ._sl_block {
    margin:17px 0 0 25px;
}

._slider_block ._slider ._sl_block ._sl_prev,._slider_block ._slider ._sl_block ._sl_next {
    width:18px;
    height:26px;
    position:relative;
    cursor:pointer;
}

._slider_block ._slider ._sl_block ._sl_prev {
    background:url(../img/sl_prev.png) no-repeat;
    top:75px;
    left:-15px;
}

._slider_block ._slider ._sl_block ._sl_next {
    background:url(../img/sl_next.png) no-repeat;
    top:-70px;
    left:887px;
}

._slider_block ._slider ._sl_block .VjCarouselLite ul li {
    float:left;
    margin:0 10px;
}

._banners_block {
    height:90px;
    background:#bde1f4;
    padding:13px 0 23px;
}

._banners_block ._banners {
    width:940px;
    overflow:hidden;
    margin:0 auto;
}

._hide {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
    font-family:Georgia;
    -moz-opacity:0.6;
    -webkit-opacity:0.6;
    opacity:0.6;
}

.window .window_block {
    position:absolute;
    left:0;
    top:0;
    background:#fff;
    width:770px;
    display:none;
    z-index:9999;
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.8);
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.8);
    box-shadow:0 0 10px rgba(0,0,0,0.8);
}

.window .window_block .top .title {
    float:left;
    color:#fff;
    font-size:23px;
    padding:10px 0 0 17px;
}

.window .window_block .top .close {
    float:right;
    width:45px;
    height:40px;
    background:url(../img/window_close.png) no-repeat;
    cursor:pointer;
}

.window .window_block .center {
    background:#fff;
    overflow:hidden;
    padding:20px 0 20px 30px;
}

.window .window_block .center.reg-avt .block .title {
    color:#409bcd;
    font-size:18px;
    font-weight:700;
    margin:0 0 15px;
}

.window .window_block .center.reg-avt .block fieldset .field {
    margin:0 0 15px;
}

.window .window_block .center.reg-avt .block fieldset .field label {
    display:block;
    color:#d86a2b;
    font-size:14px;
    font-weight:700;
    margin:0 0 5px;
}

.window .window_block .center.reg-avt .block fieldset .field label a {
    float:right;
    color:#409bcd;
    font-size:11px;
    text-decoration:underline;
}

.window .window_block .center.reg-avt .block fieldset .field input {
    width:294px;
    color:#989898;
    font:italic 16px Georgia;
    border:1px solid #c4c4c4;
    padding:4px 7px;
}

.window .window_block .center.reg-avt .block.avt fieldset input[type=submit] {
    border:none;
    background:#e4732b;
    color:#fff;
    font:bold 15px Helvetica;
    cursor:pointer;
    position:relative;
    left:100px;
    margin:10px 0 0;
    padding:7px 35px;
}

.window .window_block .center.reg-avt .block.reg {
    width:350px;
    margin:0 0 0 40px;
}

.window .window_block .center.reg-avt .block.reg ul {
    list-style:none;
    position:relative;
    bottom:-2px;
    z-index:100;
    overflow:hidden;
}

.window .window_block .center.reg-avt .block.reg ul li {
    float:left;
    background:#e4732b;
    color:#fff;
    font-size:21px;
    cursor:pointer;
    padding:9px 15px;
}

.window .window_block .center.reg-avt .block.reg ul li.active {
    background:#f2fbff;
    color:#e4732b;
    border-right:1px solid #d5d5d5;
    border-top:1px solid #d5d5d5;
    border-left:1px solid #d5d5d5;
    padding:8px 15px;
}

.window .window_block .center.reg-avt .block.reg ul li a {
    background:#e4732b;
    color:#fff;
    font-size:21px;
    text-decoration:none;
}

.window .window_block .center.reg-avt .block.reg ul li.active a {
    background:#f2fbff;
    color:#e4732b;
    text-decoration:none;
}

.window .window_block .center.reg-avt .block.reg ul li:last-child {
    -moz-box-shadow:2px -3px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow:2px -3px 3px rgba(0,0,0,0.2);
    box-shadow:2px -3px 3px rgba(0,0,0,0.2);
}

.window .window_block .center.reg-avt .block.reg fieldset {
    position:relative;
    z-index:10;
    background:#f2fbff;
    border:1px solid #d7d7d7;
    -moz-box-shadow:1px 4px 7px rgba(0,0,0,0.2);
    -webkit-box-shadow:1px 4px 7px rgba(0,0,0,0.2);
    box-shadow:1px 4px 7px rgba(0,0,0,0.2);
    padding:10px 0 20px 17px;
}

.window .window_block .center.reg-avt .block.reg fieldset .field.password input {
    width:133px;
}

.window .window_block .center.reg-avt .block.reg fieldset .continue {
    clear:both;
    width:125px;
    background:#409bcd;
    text-align:center;
    color:#fff;
    font-size:15px;
    font-weight:700;
    cursor:pointer;
    margin:90px auto 0;
    padding:6px 0;
}

.window.terms .window_block .top ul li {
    float:left;
    font-size:21px;
    color:#fff;
    cursor:pointer;
    padding:10px 20px;
}

.window.terms div.top ul a {
    text-decoration:none;
    color:#fff;
}

.window.terms div.top ul .active a {
    text-decoration:none;
    color:#e4732b;
}

.window.terms .window_block .top ul li.active {
    background:#fff;
    color:#e4732b;
    -moz-box-shadow:6px -2px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow:6px -2px 2px rgba(0,0,0,0.1);
    box-shadow:6px -2px 2px rgba(0,0,0,0.1);
}

.window.terms .window_block .center {
    width:740px;
    height:420px;
    overflow:auto;
}

.window.terms .window_block .center p {
    font-size:12px;
    margin:0 0 20px;
}

.window.terms .window_block .center h4 {
    color:#e4732b;
    font-size:16px;
    font-weight:400;
    margin:0 0 20px;
}

.window.terms .window_block .center ol {
    font-size:12px;
    margin:0 0 0 19px;
}

.window.terms .window_block .center ol li {
    margin:0 0 15px;
    padding:0 0 0 15px;
}

.job_seeker .user_info {
    width:550px;
}

.job_seeker .user_info .avatar {
    width:137px;
    height:137px;
    border:1px solid #c9c9c9;
    float:left;
    margin:0 23px 0 0;
}

.job_seeker .user_info .hello {
    color:#e4732b;
    float:left;
    font-size:19px;
    margin:20px 0 3px;
}

.job_seeker .user_info .desc {
    width:385px;
    color:#494949;
    float:left;
    font-size:12px;
    line-height:19px;
}

.job_seeker .app_info {
    width:380px;
    height:138px;
    float:right;
    text-align:center;
    position:relative;
    top:-42px;
}

.job_seeker .app_info .title {
    color:#fff;
    font-size:18px;
    background:#e4732b;
    padding:8px 0;
}

.job_seeker .app_info .center {
    border-left:1px solid #d8d8d8;
    border-right:1px solid #d8d8d8;
    border-bottom:1px solid #d8d8d8;
    padding:10px 0;
}

.job_seeker .app_info .center ul li a {
    display:block;
    width:240px;
    color:#fff;
    font-size:15px;
    margin:8px auto;
    padding:5px 0;
}

.job_seeker .app_info .center ul li:first-child a {
    background:#409bcd;
}

.job_seeker .res_info_block {
    clear:both;
    overflow:hidden;
    margin:0 0 17px;
}

.job_seeker .res_info_block .res_info {
    width:298px;
    float:left;
    background:#f2fbff;
    border:1px solid #d5d5d5;
}

.job_seeker .res_info_block .res_info:nth-child(3) {
    float:right;
    margin:0;
}

.job_seeker .res_info_block .res_info:nth-child(2) {
    margin:0 0 0 20px;
}

.job_seeker .res_info_block .res_info .title {
    color:#e4732b;
    font-size:18px;
    padding:7px 13px;
}

.job_seeker .res_info_block .res_info .table {
    height:209px;
    overflow:auto;
}

.job_seeker .res_info_block .res_info .table table {
    border-collapse:collapse;
    width:100%;
}

.job_seeker .res_info_block .res_info .table table tr td {
    font-size:13px;
    color:#494949;
    padding:3px 0;
}

.job_seeker .res_info_block .res_info .table table tr td a {
    text-decoration:underline;
    margin:0 2px;
}

.job_seeker .res_info_block .res_info .table table tr td.col-1 {
    width:167px;
    padding:0 0 0 13px;
}

.job_seeker .res_info_block .res_info .table table tr td.col-4 {
    text-align:right;
    padding:0 4px 0 0;
}

.job_seeker .res_info_block .res_info .add {
    border-top:1px solid #d5d5d5;
    text-align:center;
    padding:13px 0;
}

.job_seeker .res_info_block .res_info .add a {
    background:#e4732b;
    color:#fff;
    font-weight:700;
    padding:8px 10px;
}

.stages .left {
    float:left;
    width:240px;
}

.stages .left ul li {
    background:url(../img/checkbox.png) no-repeat;
    margin:0 0 5px;
    padding:0 0 0 20px;
}

.stages .left ul li.checked {
    background-position:0 -20px;
}

.stages .left ul li.active a {
    color:#e4732b;
}

.stages .right {
    float:right;
    width:695px;
}

.stages .right ul {
    list-style:none;
    overflow:hidden;
    width:652px;
    position:relative;
    bottom:-1px;
}

.stages .right ul li a {
    float:left;
    background:#e4732b;
    color:#fff;
    font-size:21px;
    border-right:1px solid #fff;
    border-bottom:1px solid #d5d5d5;
    cursor:pointer;
    text-decoration:none;
    padding:10px 19px;
}

.stages .right ul li.active a {
    background:#f2fbff;
    color:#e4732b;
    border-left:1px solid #d5d5d5;
    border-top:1px solid #d5d5d5;
    border-right:1px solid #d5d5d5;
    border-bottom:none;
    text-decoration:none;
}
.stages .right ul li {float: left;background: #e4732b;color: #fff;font-size: 21px;padding: 10px 19px;border-right: 1px solid #fff;border-bottom: 1px solid #d5d5d5;cursor: pointer;}
.stages .right ul li.active {background: #f2fbff;color: #e4732b;border-left: 1px solid #d5d5d5;border-top: 1px solid #d5d5d5;border-right: 1px solid #d5d5d5;border-bottom: none;}

.stages .right .form {
    clear:both;
    background:#f2fbff;
    border:1px solid #d5d5d5;
    padding:0 15px;
}

.stages .right .form .s2,
.stages .right .form .s4,
.stages .right .form .s5 {
    display:none;
    overflow:hidden;
}

.stages .right .form .s3 {
    overflow: visible;
}

.stages .right .form .title {
    color:#409bcd;
    font-weight:700;
    font-size:18px;
    margin:35px 0 12px;
}

.stages .right .form input[type=text] {
    width:124px;
    color:#989898;
    font:16px Georgia;
    border:1px solid #c4c4c4;
    margin:5px 0;
    padding:4px 7px;
}

.stages .right .form input[type=text].it4 {
    width:417px;
}

.stages .right .form input[type=text].it3 {
    width:254px;
}

.stages .right .form input[type=text].it2 {
    width:178px;
}

.stages .right .form input[type=text].it-pod {
    width:215px;
}

.stages .right .form input[type=text].it-pod2 {
    width:590px;
}

.stages .right .form textarea {
    width:646px;
    height:130px;
    color:#989898;
    border:1px solid #c4c4c4;
    margin:5px 0;
    padding:4px 7px;
}

.stages .right .form .field {
    margin:0 0 10px;
}

.stages .right .form .field label {
    margin:0 30px 0 0;
}

.stages .right .form .field label:first-child {
    display:block;
    color:#d86a2b;
    font-weight:700;
    font-size:14px;
    margin:0;
}

.stages .right .form .field label:first-child span {
    color:#494949;
    font-style:italic;
    font-size:11px;
    font-weight:400;
}

.stages .right .form .text {
    color:#494949;
    font-style:italic;
    font-size:11px;
    margin:0 0 10px;
}

.stages .right .form .text2 {
    color:#494949;
    font-size:11px;
    margin:0 0 10px;
}

.stages .right .form .field a {
    clear:both;
    display:block;
}

.stages .right .form .field .radio,
._search_job ._center form fieldset ._field .radio
{
    vertical-align:middle;
    width:19px;
    height:20px;
    cursor:pointer;
    background:url(../img/checkbox.png) no-repeat;
}

.stages .right .form .field .radio.checked,
._search_job ._center form fieldset ._field .radio
{
    background-position:0 -22px;
}

.stages .right .form ._submit {
    clear:both;
    display:inline-block;
    margin:30px 0;
    padding:0 172px;
    
}

.stages .right .form ._submit .exit,.stages .right .form ._submit .cont {
    width:150px;
    text-align:center;
    color:#fff;
    background:#409bcd;
    cursor:pointer;
    float:left;
    padding:5px 0;
}
.stages .right .form ._submit .exit {
    margin:0 10px 0 -10px;
}


.exit2 {
    width:150px;
    text-align:center;
    color:#fff;
    background:#e4732b;
    cursor:pointer;
    float:left;
    margin-left:70px;
    padding:5px 0;
}

.stages .right .form ._submit .cont,.stages .right .form ._submit input {
    background:#e4732b;
    float:right;
}

.stages .right .form ._submit input {
    width:150px;
    border:none;
    color:#fff;
    cursor:pointer;
    padding:7px 0;
}

.stages .right .form .section1 .left_info {
    float:left;
    width:447px;
}

.stages .right .form .section1 .avatar {
    float:right;
    width:205px;
    color:#d86a2b;
    font-size:16px;
}

.stages .right .form .section1 .avatar .img {
    width:203px;
    height:203px;
    border:1px solid #c4c4c4;
    margin:7px 0 3px;
}

.stages .right .form .section1 .avatar .links a {
    margin:0 2px;
}

.stages .right .form .s2 .text,.stages .right .form .s3 .text,.stages .right .form .s4 .text,.stages .right .form .s5 .text {
    margin:-13px 0 15px;
}

.stages .right .form .s2 .date {
    overflow:hidden;
}

.stages .right .form .s2 .date div {
    float:left;
    margin:0 8px 0 0;
}

.stages .right .form .s2 .date input {
    width:26px;
}

.stages .right .form .s2 .date input.l {
    width:63px;
}

.stages .right .form .s2 .date p {
    text-align:center;
    color:#494949;
    font-style:italic;
    font-size:11px;
    margin:-7px 0 0;
}

.stages .right .form input[type=text].it-pod {
    width:215px;
}

.stages .right .form input[type=text].it-pod2 {
    width:590px;
}

.builder .top {
    position:relative;
    top:-20px;
    border-bottom:1px solid #d5d5d5;
    overflow:hidden;
    padding:0 0 18px;
}

.builder .top .title {
    color:#d86a2b;
    font-weight:700;
}

.builder .top input[type=text] {
    width:204px;
    color:#989898;
    font:16px Georgia;
    border:1px solid #c4c4c4;
    float:left;
    padding:4px 7px;
}

.builder .top .links a {
    display:block;
    float:left;
    text-decoration:underline;
    position:relative;
    top:10px;
}

.builder .top .links .pop,.builder .top .links .save {
    text-align:center;
    color:#fff;
    background:#409bcd;
    cursor:pointer;
    float:left;
    margin:0 0 0 12px;
    padding:5px 30px;
}

.builder .nav .pages {
    list-style:none;
    float:left;
    overflow:hidden;
    position:relative;
    bottom:-1px;
}

.builder .nav .pages li {
    float:left;
    background:#e4732b;
    color:#fff;
    font-size:21px;
    border-right:1px solid #fff;
    border-bottom:1px solid #d5d5d5;
    cursor:pointer;
    padding:10px 25px;
}

.builder .nav .pages li.active {
    background:#f2fbff;
    color:#e4732b;
    border-left:1px solid #d5d5d5;
    border-top:1px solid #d5d5d5;
    border-right:1px solid #d5d5d5;
    border-bottom:none;
}

.builder .nav .info1 {
    text-align:center;
    float:right;
    border-left:1px solid #d5d5d5;
    border-right:1px solid #d5d5d5;
    margin:-20px 0 0;
    padding:20px;
}

.builder .nav .info1 ul li.sep {
    color:#aaa;
}

.builder .nav .info1 ul li.page {
    color:#409bcd;
}

.builder .nav .info2 {
    float:right;
    position:relative;
    top:-13px;
    padding:0 0 0 17px;
}

.builder .nav .info2 .title {
    color:#409bcd;
    font-weight:700;
    font-size:13px;
}

.builder .nav .info2 #s2id_e6 .select2-choice {
    width:175px;
    height:11px;
    font-size:11px;
}

.builder .nav .info2 #s2id_e6 .select2-choice div {
    background:url(../img/select_small.png) no-repeat;
    right:-9px;
}

.builder .list {
    background:#f2fbff;
    border:1px solid #cacaca;
    overflow:hidden;
    clear:both;
    padding:0 25px 25px;
}

.builder .list .links {
    list-style:none;
    float:right;
    padding:6px 0 10px;
}

.builder .list .links li {
    display:inline;
    color:#9f9f9f;
    font-weight:700;
    font-size:13px;
}

.builder .list .list_it {
    background:#fff;
    border:1px solid #d5d5d5;
    overflow:hidden;
    clear:both;
    color:#434343;
    -moz-box-shadow:2px 2px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.1);
    box-shadow:2px 2px 2px rgba(0,0,0,0.1);
    padding:65px 110px 30px;
}

.builder .list .list_it a {
    text-decoration:underline;
    cursor:pointer;
}

.builder .list .list_it .title {
    font:bold 24px Helvetica;
    position:relative;
    margin:10px 0;
}

.builder .list .list_it .title.mini {
    font:bold 14px Helvetica;
    position:relative;
    margin:10px 0;
}

.builder .list .list_it .line-break {
    height:2px;
    background:#434343;
    clear:both;
    margin:0 0 15px;
}

.builder .list .list_it .group .item {
    position:relative;
    margin:4px 0;
}

.builder .list .list_it .list_group {
    margin:5px 0 5px 47px;
}

.builder .list .list_it .list_group li {
    margin:2px 0;
}

.builder .list .list_it .pages {
    list-style:none;
    float:right;
    position:relative;
    right:-75px;
    margin:55px 0 0;
}

.builder .list .list_it .pages li.sep {
    color:#434343;
}

.builder .list .list_it .prim {
    width:120px;
    position:absolute;
    right:683px;
    top:0;
    text-align:right;
    color:#aeaeae;
    line-height:17px;
    font-size:14px;
    font-weight:400;
    padding:2px 0 0;
}

.builder .list .list_it .contacts {
    list-style:none;
    margin:0 0 40px 400px;
}

.builder .list .list_it.letter .group .item {
    margin:20px 0;
}

.builder .mini-gray {
    font:14px Helvetica;
    color:#aeaeae;
    margin:0 10px 0 -57px;
}

.builder .add-btn {
    width:20px;
    height:20px;
    margin-left:5px;
    cursor:pointer;
    border:none;
    color:white;
    border-radius:20px;
    font-size:16px;
    background: url('../img/icon_add.png');
}


.builder .remove-btn {
    width: 20px;
    height: 20px;
    margin-left:5px;
    cursor:pointer;
    border:none;
    color:#e4732b;
    border-radius:20px;
    background: url('../img/icon_remove.png');
}

.builder .list-item {
    margin-left:30px;
}

.builder .list-item:before {
    content:"\2022\2002";
}

.builder .span {
    display:inline-block;
}

.outline:focus {
    outline:1px solid #ffd9c1;
}

#canvas {
    height:300px;
    width:600px;
}

#paper {
    height:300px;
    width:300px;
    margin:20px 0 0 30px;
}

#nsw,#vic,#wa,#sa,#nt,#qld,#tas {
    height:400px;
    width:300px;
}

.criteria .pod {
    width:605px;
    background:url(../img/select_line.png) 16px 0 no-repeat;
    margin-top:-20px;
    padding:25px 0 0 40px;
}


.criteria > a {
    display:block;
    float:right;
    margin-right:20px;
}

.criteria label {
    margin-left:40px;
}

.criteria:nth-last-child(1) {
    margin-bottom:40px;
}

.criteria:nth-last-child(1) .fields .pod:first-child {
    background:url(../img/select_line2.png) 16px 0 no-repeat;
    padding-top:66px;
    margin-top:-60px;
}

div.styled input[type=radio] + label {
    font-family:Arial, sans-serif;
    font-size:14px;
}

div.styled input[type=radio] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    vertical-align:middle;
    background:url(../img/checkbox.png) left top no-repeat;
    cursor:pointer;
    margin:-1px 4px 0 0;
}

div.styled input[type=radio]:checked + label span {
    background:url(../img/checkbox.png) 0 -22px;
}

.field {
    position:relative;
}

.help-tip_focus {
    width:220px;
    background:#f2fbff;
    border:1px solid #d5d5d5;
    position:absolute;
    top:-13px;
    left:-261px;
    display:none;
    min-height:100px;
    z-index:5;
}

.help-tip_hover {
    width:220px;
    background:#f2fbff;
    border:1px solid #d5d5d5;
    position:absolute;
    top:-13px;
    left:-261px;
    display:none;
    min-height:100px;
    z-index:5;
}

.help-tip {
    width:220px;
    background:#f2fbff;
    border:1px solid #d5d5d5;
    position:absolute;
    top:-13px;
    left:-261px;
    display:none;
    min-height:100px;
    z-index:5;
}

.help-tip-title {
    background:#409bcd;
    font-size:18px;
    height:25px;
    line-height:25px;
    color:#FFF;
    padding:0 10px;
}

.help-tip-text {
    font-size:12px;
    color:#94949;
    padding:10px;
}

.help-tip-right {
    background:url(../img/help-tip-right.png);
    width:31px;
    height:35px;
    position:absolute;
    right:-31px;
}

.company-logo {
    width:205px;
    font-size:16px;
}

.company-logo img {
    width:220px;
    height:220px;
    border:1px solid #c4c4c4;
    margin:7px 0 3px;
}

div.paper-block {
    margin-bottom:30px;
}

.paper.text.title.mini.date {
    padding-top:50px;
}

.field.pod {
    width:605px;
    background:url(../img/select_line.png) 16px 0 no-repeat;
    margin-top:-8px;
    padding:0 0 0 40px;
}

.stages .right .form .field.pod2 {
    width:605px;
    background:url(../img/select_line2.png) 16px 0 no-repeat;
    margin-top:-60px;
    padding:45px 0 0 40px;
}

.field.pod > a,.field.pod2 > a {
    text-align:right;
}

.job-information div:first-child img {
    border:1px solid #c4c4c4;
}

.job-information h4 {
    font-weight:400;
    color:#d86a2b;
    font-size:16px;
}

.job-information {
    min-height:210px;
    margin-bottom:20px;
}

.job-information p {
    color:#494949;
}

.required {
    float:right;
    font-size:13px;
    color:#494949;
    font-weight:400;
}

.field.star {
    background:url(../img/star.png) no-repeat top left;
    width:650px;
    padding:4px 0 20px 30px;
}

.field.star p {
    font-size:16px;
    color:#409bcd;
    font-family:"Myriad Pro";
}

.field.star label span {
    color:#d86a2b;
    font-weight:700;
    font-size:14px;
}

.employer .left {
    width:510px;
    height:450px;
    background:#f2fbff;
}

.employer .right {
    width:420px;
    min-height:450px;
}

.register-post-job div:first-child {
    padding-top:1px;
    width:210px;
    height:210px;
    text-align:center;
    border-radius:100%;
    background:#FFF;
    color:#e4732b;
    margin:30px auto;
}

.register-post-job div:first-child p:first-child {
    margin-top:45px;
    margin-bottom:15px;
    font-size:18px;
}

.register-post-job div:first-child span:last-child {
    font-size:45px;
    line-height:45px;
    font-weight:700;
}

.register-post-job p {
    color:#e4732b;
    font-size:18px;
    text-align:center;
}

.employer .right .form {
    border:none;
    padding:1px;
}

.employer .right .form ._submit {
    overflow:visible;
}

.employer .right .form .it3 {
    width:282px!important;
}

.employer .right .form .it1,.contact .right .form .it1 {
    color:#989898;
    font:16px Georgia;
    border:1px solid #c4c4c4;
    width:123px;
    margin:5px 0;
    padding:4px 7px;
}

.employer #emp {
    margin:10px 0 0;
    padding:0;
}

.employer #emp .exit {
    margin-left:80px;
}

.employer .right .form form {
    margin:30px 0 0 50px;
}

.employer .right p:first-child {
    font-size:30px;
    line-height:30px;
    color:#e4732b;
    text-align:center;
    margin:30px 0;
}

.employer .right p:first-child span {
    font-weight:700;
}

.left-pricing {
    float:left;
    width:450px;
}

.right-contact {
    float:right;
    width:480px;
}

.left-pricing,.right-contact {
    padding-top:20px;
    font-size:40px;
    display:block;
    background:#e4732b;
    color:#FFF;
    text-decoration:none!important;
    height:120px;
    text-align:center;
    line-height:40px;
    font-weight:700;
    margin-top:15px;
}

.left-pricing span,.right-contact span {
    font-size:25px;
    font-weight:400;
}

.contact .right {
    width:940px;
}

.contact .right .form form {
    margin-top:20px;
}

.contact ._submit {
    margin:0 0 30px!important;
    padding:0!important;
}

.Job {
    border:1px #dbdddd solid;
    height:113px;
    width:275px;
    float:left;
    background:#f2fbff;
    margin: 0 54px 20px 0;
}


.Job:nth-child(3n) {
    margin-right: 0;
}

._slider_block .VjCarouselLite ul li {
    border:1px #dbdddd solid;
    height:113px;
    width:275px;
}

.head-featured {
    height:32px;
    background:#409bcd;
    padding:0 5px;
}

.head-featured a {
    background:url(../img/add-featured.png);
    width:43px;
    height:25px;
    display:block;
    float:right;
    margin-top:3px;
}

.head-featured p {
    float:left;
    color:#FFF;
    line-height:32px;
}

.logo-featured {
    float:left;
    width:81px;
    height: 81px;
}

.view-featured {
    float:right;
    width:190px;
    text-align:center;
    padding-top:5px;
}

.view-featured span {
    color:#494949;
    font-size:12px;
    line-height:9px;
}

.view-featured a {
    background:url(../img/view-featured.png);
    width:116px;
    height:22px;
    display:block;
    margin:5px auto;
}

.field.pod input,.field.pod2 input {
    position:relative;
    z-index:2;
}

.row-bv {
    background:#fefefe;
    border:1px solid #c4c4c4;
    position:relative;
    padding:15px;
}

.row-bv.mini {

    padding:5px 0 5px 5px;
}

.name-desc-bv {
    float:left;
    display:inline-block;
    width:170px;
}

.row-bv.mini .span-bv.string {
    border:none;
    line-height:55px;
    padding:0 0 0 3px;
}

.row-bv.mini .span-bv p {
    font-weight:400;
    font-size:24px;
    margin:0;
}

.row-bv.mini .span-bv.string p,.row-bv.mini .span-bv.string span {
    display:inline;
    line-height:100%;
    border:none;
}

.row-bv.mini .span-bv span {
    font-size:14px;
    font-weight:bold;
}

.name-desc-bv p {
    font-size:16px;
    color:#494949;
    font-weight:700;
    margin-bottom:5px;
}

.name-desc-bv span{
    font-size:12px;
    display:block;
    font-weight:700;
    color:#636363; 
}
.name-desc-bv span:first-child{
    color:#d86a2b;
    font-weight: bold;
}

.span-bv {
    border-right:1px solid #d86a2b;
    border-left:1px solid #d86a2b;
    float:left;
    margin-right: -1px;
}
.span-bv > div {
    padding: 0 34px;
}

.row-bv .span-bv:nth-last-child(1) {
    border-right:0;
}
.row-bv.bulk .span-bv.active > div {
    background: #f4f4f4;
    border: none;
    margin-top: -30px;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 15px;
    position: relative;
}
.row-bv.active {
    background: #f4f4f4;
}

.row-bv.bulk .span-bv:nth-last-child(1) {
    border-left:1px solid #d86a2b;
}

.span-bv > p {
    font-size:28px;
    color:#d86a2b;
    line-height:28px;
    margin-bottom:10px;
    display:block;
}

.span-bv span,.save span {
    line-height:20px;
    font-size:20px;
    color:#636363;
    display:block;
}

.save p {
    font-size:20px;
    color:#d86a2b;
    line-height:28px;
    font-weight:700;
    margin:20px 0 0;
}


.row-bv.subscription .span-bv > div {
    padding: 20px 63px;
}
.row-bv.subscription .span-bv.active > div {
    background: #f4f4f4;
    border: none;
    margin-top: -30px;
    padding-top: 38px;
    padding-bottom: 37px;
    top: 15px;
    position: relative;
}

.row-bv.subscription .span-bv:nth-last-child(1) {
    margin-right:0;
    border-right:0;

}

._submit.confirm {
    padding:0!important;
}

.s4 fieldset > p {
    font-size:20px;
    margin:20px 0;
}

.search-result {
    margin-top:30px;
}

.company-info .right {
    float:right;
    width:300px;
    margin-right:2px;
}

.company-info .info span {
    color:#e4732b;
    font-size:18px;
    margin-top:15px;
    display:block;
}

.company-info .logo {
    width:150px;
    height:150px;
    border:1px #dbdddd solid;
    float:left;
    margin-right:20px;
}

.company-info .you-c-i {
    width:300px;
    border:1px #dbdddd solid;
    padding:0 0 20px;
}

.company-info .you-c-i h3 {
    height:30px;
    line-height:30px;
    background:#e4732b;
    color:#FFF;
    font-weight:400;
    text-align:center;
    margin-bottom:20px;
}

.company-info .you-c-i a {
    width:250px;
    text-decoration:none;
    display:block;
    height:30px;
    line-height:30px;
    background:#e4732b;
    color:#FFF;
    font-weight:400;
    text-align:center;
    margin:0 auto;
}

.employer-logo {
    width:170px;
    height:170px;
    float:left;
}

.employer-name p:first-child {
    font-size:20px;
    margin-bottom:10px;
}

.job-info .properties {
    background:#f7fcff;
    border:5px #bee1f5 solid;
    margin-bottom:20px;
    padding:15px 0 0 20px;
}

.job-info .properties p {
    font-weight:700;
    width:450px;
    float:left;
    margin-bottom:15px;
}

.specical-conditions,.selection-criteria,.job-title,.job-contact-info,.supportiong-document {
    margin-bottom:15px;
}

.specical-conditions > p:first-child,.selection-criteria > p:first-child,.supportiong-document > p:first-child,.job-title > p:first-child {
    color:#d86a2b;
    font-weight:700;
    font-size:20px;
    margin-bottom:15px;
}

.job-title > p:first-child {
    font-size:25px;
}

.selection-criteria {
    margin-bottom:20px;
}

.selection-criteria .desireable,.selection-criteria .essential {
    font-weight:700;
    margin-bottom:10px;
    width:440px;
    float:left;
}

.selection-criteria .desireable > p:first-child,.selection-criteria .essential > p:first-child {
    font-weight:700;
    margin-bottom:10px;
}

.selection-criteria .desireable ul li,.selection-criteria .essential ul li {
    list-style:none;
    font-weight:400;
    background:url(../img/selection-criteria.jpg) no-repeat;
    padding-left:30px;
}

.job-contact-info,.click-apply-now {
    background:#fbbf69;
    height:40px;
    overflow:hidden;
}

.job-contact-info > div,.click-apply-now > div {
    padding:20px;
}

.click-apply-now >a,.job-contact-info >a {
    display:block;
    height:40px;
    line-height:40px;
    padding-left:15px;
    color:#FFF;
    background:#e4742c;
    font-size:20px;
    text-decoration:none!important;
}

.click-apply-now .field {
    margin-right:30px;
    float:left;
}

.click-apply-now .cont {
    width:150px;
    text-align:center;
    color:#fff;
    background:#e4732b;
    cursor:pointer;
    float:left;
    height:26px;
    line-height:26px;
    margin-top:5px;
}

a:hover,.stages a,.builder .list .links li a,.builder .list .list_it a  {
    text-decoration:underline;
}

img,._search_job ._center form fieldset,.window .window_block .center.reg-avt .block fieldset,.stages .right .form fieldset {
    border:none;
}
._search_job.more-options ._center form fieldset {
    /*width:540px;*/
}

.niceCheck input,.register_employer,.builder .list.str2,#paper h2,div.styled input[type=radio] {
    display:none;
}

._content h1,._content > h3 {
    color:#fff;
    font:22px Helvetica;
    background:#e4732b;
    margin:0 0 33px;
    padding:6px 12px;
}

footer ._footer ._copy,._banners_block ._banners a:first-child,.window .window_block .center.reg-avt .block,.company-info .left{
    float:left;
}

footer ._footer ._footer_nav ul,._slider_block ._slider ._sl_block .VjCarouselLite ul,.window.terms .window_block .top ul,.job_seeker .app_info .center ul,.stages .left ul,.builder .nav .info1 ul {
    list-style:none;
}

.clear,.stages .right .form .field.fl_clear,.stages .right .form .section1 .bot_info,.builder .nav {
    clear:both;
}

._navigation ul li,.window .window_block .center.reg-avt .block.reg fieldset .field.password {
    float:left;
    margin:0 12px 0 0;
}

._navigation ul:first-child li:last-child,.row-bv.mini .span-bv {
    margin:0;
}

._navigation ul li.active a,.job_seeker .res_info_block .res_info .table table tr:nth-child(odd) td,.builder {
    background:#fff;
}

._navigation ul li._reg a:hover,._navigation ul li._post a:hover,.job_seeker .app_info .center ul li a:hover,.job_seeker .res_info_block .res_info .table table tr td a:hover,.job_seeker .res_info_block .res_info .add a:hover,.stages a:hover {
    text-decoration:none;
}

._search_box ._top,.window .window_block .top {
    height:40px;
    background:#e4732b;
}

._banners_block ._banners a:last-child,.builder .top .links,.list_it.letter .paper.container {
    float:right;
}

.window .window_block .center.reg-avt .block.avt fieldset .continue,.window .window_block .center.reg-avt .block.reg fieldset .continue {
    clear:both;
    width:125px;
    background:#409bcd;
    text-align:center;
    color:#fff;
    font-size:15px;
    font-weight:700;
    cursor:pointer;
    margin:90px auto 0;
    padding:6px 0;
}

.job_seeker .app_info .center ul li:last-child a,.builder .top .links .save {
    background:#e4732b;
}

.stages .right ul li.active,.builder .nav .pages li.active {
    background:#f2fbff;
    color:#e4732b;
    border-left:1px solid #d5d5d5;
    border-top:1px solid #d5d5d5;
    border-right:1px solid #d5d5d5;
    border-bottom:none;
}

.stages .right .form .field.fl_left,.job-information div:first-child {
    float:left;
    margin-right:20px;
}

.stages .right .form .section1 .avatar .links,.company-logo .links {
    color:#409bcd;
    font-size:12px;
    text-align:center;
}

.builder .nav .info1 ul li,.builder .list .list_it .pages li {
    display:inline;
    color:#e4732b;
}

.builder .list .list_it .title a,.builder .list .list_it .group .item .mini {
    font-size:14px;
}

.criteria,.contact .right .form form {
    margin-top:20px;
}

.employer .right p:first-child span,.click-apply-now > a span {
    font-weight:700;
}

.row-bv > p,.span-bv p,.span-bv span,.click-apply-now > a {
    text-align:center;
}
.row-bv > p {
    text-align: center; 
    font-size: 20px;
    color: #d86a2b;
    line-height: 20px;
    display: block;
    font-weight: bold;
}
.row-bv.mini .span-bv.string span,.job-info .properties p span {
    font-weight:bold;
}
.row-bv.mini .span-bv-group {
    float:right;
}
.row-bv.mini .span-bv {
    margin-right: 10px;
    border: none;
}
.field.fl_left:focus .help-tip_focus,
.field:focus .help-tip_focus {
    display:block;
}

.field.fl_left:hover .help-tip_hover,
.field:hover .help-tip_hover{
    display:block;
}

.field.fl_left:hover .help-tip_hover,
.field:hover .help-tip {
    display:block;
}

.company-logo div:first-child,.field p span,.required span {
    color:#d86a2b;
}

.stages .right .form .s1 .avatar .links,.company-logo .links {
    color:#409bcd;
    font-size:12px;
    text-align:center;
}
.stages .right .form .s1 .avatar .links a,.company-logo .links a {
    margin:0 2px;
}
/*PRICING*/
.pricings {
    background: #9d4b23;
    padding: 5px 5px  5px 5px;
}
.pricing {
    border: 10px solid white;
    margin-bottom: 10px;
    padding: 30px;
    background: #e17129; /* Old browsers */
    background: -moz-linear-gradient(top,  #e17129 0%, #9d4b23 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e17129), color-stop(100%,#9d4b23)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e17129 0%,#9d4b23 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e17129 0%,#9d4b23 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e17129 0%,#9d4b23 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e17129 0%,#9d4b23 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e17129', endColorstr='#9d4b23',GradientType=0 ); /* IE6-9 */
}
.gradient {
    filter: none;
}
.pricing:last-child {
    margin-bottom: 0;
}
.pricing > p:first-child {
    color:white;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
}
.pricing > span {
    font-size: 30px;
    color:white;
    margin-top: 10px;
    display: block;
    margin-bottom: 30px;
}
.pricing .pricing-block {
    float: left;
    text-align: center;
}
.pricing .pricing-block > p:first-child {
    color:white;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 10px;
}
.pricing .pricing-block > p:last-child {
    color:white;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
}
.pricing .pricing-block > span {
    color:#f5bd68;
    font-size: 40px;
}
.pricing.subscriptions .pricing-block:first-of-type{
    margin:0 250px 0 70px;
}
.pricing.bulk .pricing-block{
    margin:0 0px 0 80px;
}
/*Preloader*/
.preloader {
    background:url(../img/spinner.gif) no-repeat center black; 
    width:100%; 
    height: 100%; 
    position: fixed;
    z-index:9999;
    opacity:0.5;
   
}

.stages .full_width {
    width: 940px;
    margin-bottom: 40px;
}

.logo_right_floater {
    float: right;
    width: 225px;
    margin-top: 10px;
}

._search_box._search_job.more-options ._center form fieldset ._field.no_bottom_margin {
    margin-bottom: 0;
}