<div class="Job">
    <div class="head-featured">
        <p>{[{ job.name }]}</p>
        <a class="edit" href="{[{ job.edit_url }]}"><span>Edit</span></a>
    </div>
    <div class="view-featured">
        <div class="span_cont">
            <span>{[{ job.location }]}</span>
            <span class="applied_count" ng-show="job.salary_range_min"> Salary: ${[{ job.salary_range_min }]}</span>
        </div>
        <span class="unpublished">Unpublished</span>
        <div class="clear"></div>
        <a href="{[{ job.view_url }]}"></a>
        <span class="date_added">Job added {[{ job.open_date }]}</span>
    </div>
</div>
