{% extends "base.html" %}
{% load main_tags %}

{% load staticfiles %}

{% block content %}
    <div class="_content stages contact">
        <h1>Contact the cpd helpdesk</h1>
        <div class="right">
            <div class="form" id="contact-form">
                {% for field in form.visible_fields %}
                <div class="field">
                    <label>{{ field.label }}</label>
                    {{ field|add_class:"it3" }}
                    <div class="error" data-error="contactus_errors.{{ field.name }}"></div>
                </div>
                {% endfor %}
                <div class="_submit">
                    <div class="exit">Continue</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block initialize-js %}
    {{ block.super }}
    <script src="{% static 'contactus/js/backbone/models.js' %}" type="text/javascript"></script>
    <script src="{% static 'contactus/js/backbone/views.js' %}" type="text/javascript"></script>
{% endblock %}