<div class="window_block">
    <div class="top">
        <div class="title">Login or Register</div>
        <a href="#close">
            <div class="close"></div>
        </a>
    </div>
    <div class="center reg-avt">
        <div class="block avt" ng-controller="LoginCtrl">
            <div class="title">Users Login Here</div>
            <fieldset>
                <form id="login_form" {% if next %}data-next-url="{{ next }}"{% endif %}>
                    <div class="field">
                        <label>Email Address</label>
                        <input name="username" id="id_username" tabindex="1" type="text" ng-model="login.username">

                        <div class="error">
                            <span ng-repeat="err in error.username">{[{err}]}<br></span>
                        </div>
                    </div>
                    <div class="field">
                        <label>Password<a href="{% url "auth_password_reset" %}">Forgot Your Password?</a></label>
                        <input name="password" id="id_password" tabindex="2" type="password" ng-model="login.password">

                        <div class="error">
                            <span ng-repeat="err in error.password">{[{err}]}</span>
                        </div>
                    </div>
                    <input type="submit" tabindex="3" value="Submit" ng-click="submit()">
                </form>
            </fieldset>
        </div>
        <div class="block reg">
            <div class="title">Register for an Account Here</div>
            <ul>
                <li id="register_job_seeker_tab" class="active"><a href="#register/job_seeker">Job
                    Seeker</a>
                </li>
                <li id="register_employer_tab"><a href="#register/employer">Employer</a></li>
            </ul>
            <fieldset id="register_job_seeker_tab_fieldset" class="login_form">
                <form id="register_job_seeker_form" ng-controller="RegisterJobSeekerCtrl">
                    <div class="field">
                        <label>First Name</label>
                        <input autocomplete="off" type="text" ng-model="reg.first_name">

                        <div class="error">
                            <span ng-repeat="err in error.first_name">{[{err}]}<br></span>
                        </div>
                    </div>
                    <div class="field">
                        <label>Last Name</label>
                        <input autocomplete="off" type="text" ng-model="reg.last_name">

                        <div class="error">
                            <span ng-repeat="err in error.last_name">{[{err}]}<br></span>
                        </div>
                    </div>
                    <div class="field">
                        <label>Email Address</label>
                        <input autocomplete="off" type="text" ng-model="reg.email_address">

                        <div class="error">
                            <span ng-repeat="err in error.email_address">{[{err}]}<br></span>
                        </div>
                    </div>
                    <div class="field password">
                        <label>Password</label>
                        <input autocomplete="off" type="password" ng-model="reg.password">

                        <div class="error">
                            <span ng-repeat="err in error.password">{[{err}]}<br></span>
                        </div>
                    </div>
                    <div class="field password">
                        <label>Re-type Password</label>
                        <input autocomplete="off" type="password" ng-model="reg.re_password">

                        <div class="error">
                            <span ng-repeat="err in error.re_password">{[{err}]}<br></span>
                        </div>
                    </div>
                    <div class="continue" ng-click="submit()">Continue</div>
                </form>
            </fieldset>
            <fieldset id="register_employer_tab_fieldset" class="login_form_2">
                <form id="register_employer_form" ng-controller="RegisterEmployerCtrl"
                      data-next-url="{% url "employer.profile.edit" %}">
                    <div class="field">
                        <label>Company Name</label>
                        <input autocomplete="off" type="text" ng-model="reg.company_name">

                        <div class="error">
                            <span ng-repeat="err in error.company_name">{[{err}]}<br></span>
                        </div>
                    </div>
                    <div class="field">
                        <label>Email Address</label>
                        <input autocomplete="off" type="text" ng-model="reg.email_address">

                        <div class="error">
                            <span ng-repeat="err in error.email_address">{[{err}]}<br></span>
                        </div>
                    </div>
                    <div class="field">
                        <label>Phone Number</label>
                        <input autocomplete="off" type="text" ng-model="reg.phone_number">

                        <div class="error">
                            <span ng-repeat="err in error.password">{[{err}]}<br></span>
                        </div>
                    </div>
                    <div class="field password">
                        <label>Password</label>
                        <input autocomplete="off" type="password" ng-model="reg.password">

                        <div class="error">
                            <span ng-repeat="err in error.password">{[{err}]}<br></span>
                        </div>
                    </div>
                    <div class="field password">
                        <label>Re-type Password</label>
                        <input autocomplete="off" type="password" ng-model="reg.re_password">

                        <div class="error">
                            <span ng-repeat="err in error.re_password">{[{err}]}<br></span>
                        </div>
                    </div>
                    <div class="continue" ng-click="submit()">Continue</div>
                </form>
            </fieldset>
        </div>
    </div>
</div>
<a href="#close" class="close_hide">
    <div class="_hide"></div>
</a>