{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <h1>hello.jpg</h1>
    <div class="explore">
        <div class="explore_description">
            <div class="img_part">
                <img src="{% static 'main/img/png.png' %}">
            </div>
            <div class="description_part">
                <h4>Explore Solid Rock Recruitment</h4>
                <p>Solid Rock Recruitment is a new online company with the aim of providing Aboriginal and Torres
                    Strait Islander people with one place to search for employment opportunities.</p>
                <p>We aim to match employers seeking Aboriginal and Torres Strait Islander employees with Ab
                    original and Torres Strait Islander employees seeking employment. We also aim to provide Ab
                    original andTorres Strait Islander organisations the opportunity to recruit people specifically seek
                    ing employment in Aboriginal and Torres Strait Islander organisations.</p>
                <p>With a niche market such as this, advertising is an expensive hit-and-miss chance with adver
                    tising in markets with literally hundreds of thousands of other employers. We are seeking to the
                    cost and the time of recruitment by offering a niche advertising market targeting only those with
                    mutual genuine interest.</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="for_employers">
            <h4>For employers</h4>
            <p>For employers, Solid Rock Recruitment offers the opportunity to capture a specific target audience –
                Aboriginal and Torres Strait Islander people seeking employment or those seeking employment in
                Aboriginal and Torres Strait Islander organisations.</p>
            <h5>The benefits of Solid Rock Recruitment</h5>
            <div class="clear"></div>
            <div class="bonus_floater">
                <div class="bonuses">
                    <div class="bonus bonus_1">
                        <p>Targeted audience of Aboriginal and Torres Strait Islander job seekers</p>
                    </div>
                    <div class="bonus_line"></div>
                    <div class="bonus bonus_2">
                        <p> Targeted audience of those seeking employment
                            in Indigenous organisations</p>
                    </div>
                    <div class="bonus_line"></div>
                    <div class="bonus bonus_3">
                        <p>Streamlined job posting and job seeker
                            application process</p>
                    </div>
                    <div class="bonus_line"></div>
                    <div class="bonus bonus_4">
                        <p>Feature ads on home page</p>
                    </div>
                    <div class="bonus_line"></div>
                    <div class="bonus bonus_5">
                        <p>Budget advertising, savings on packages</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="for_job_seekers">
            <h4>For job seekers</h4>
            <p>For job seekers, Solid Rock Recruitment offers the opportunity to seek
                employment in the areas of specific expertise. </p>
            <h5>The benefits of Solid Rock Recruitment</h5>
            <div class="clear"></div>
            <div class="bonus_floater">
                <div class="bonuses">
                    <div class="bonus bonus_6">
                        <p>Free for job seekers</p>
                    </div>
                    <div class="bonus_line"></div>
                    <div class="bonus bonus_7">
                        <p>Search only the relevant jobs</p>
                    </div>
                    <div class="bonus_line"></div>
                    <div class="bonus bonus_8">
                        <p>Create CVs online</p>
                    </div>
                    <div class="bonus_line"></div>
                    <div class="bonus bonus_9">
                        <p>Apply with ease online</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

{% endblock %}