{% load staticfiles %}
{% load main_tags %}
<ul class="_top_navigation">
    <li><a href="#">Links if Needed</a></li>
    <li>|</li>
    <li><a href="#">Another Link</a></li>
    <li>|</li>
    <li><a href="#">Link</a></li>
    <li>|</li>
    <li><a href="#">Etc.</a></li>
</ul>
<a class="_logo" href="/"></a>
<div class="_login">
    {% if user.is_authenticated %}
        <div class="_avatar"><img src="{% static 'main/img/avatar.png' %}"/></div>
        <div class="_hello">{{ user }}</div>
        <a href="{% url "logout" %}" class="_logout">Logout</a>
    {% else %}
        <div class="_avatar"><img src="{% static 'main/img/avatar.png' %}"/></div>
        <div class="_hello">Guest</div>
        <a href="#login" class="_auth">Login</a>
    {% endif %}
</div>
<div class="_navigation" style="clear:none;">
    <ul style="float:left;">
        <li {% if url_name == "search" %}class="active"{% endif %}><a href="{% url "search" %}">SEARCH</a></li>
        {% if user.is_authenticated %}
            <li {% if url_name|startswith:"job_seeker" or url_name|startswith:"resume"  or url_name|startswith:"cover_letter" %}class="active"{% endif %}><a href="{{ user.profile.url }}">MY ACCOUNT</a></li>
        {% endif %}
        <li><a href="#">EMPLOYERS</a></li>
        <li {% if url_name == "explore" %}class="active"{% endif %}><a href="{% url "explore" %}">EXPLORE SOLID ROCK RECRUITMENT</a></li>
        <li style="margin:0;" {% if url_name == "contact_us" %}class="active"{% endif %}><a href="{% url "contact_us" %}">CONTACT US</a></li>

    </ul>
    <ul style="float:right;">
        <li class="_reg"><a href="#">JOB SEEKERS REGISTER HERE</a></li>
        <li class="_post"><a href="#">POST A JOB</a></li>
    </ul>
</div>