{% load staticfiles %}
<ul class="_top_navigation">
    <li><a href="#">Links if Needed</a></li>
    <li>|</li>
    <li><a href="#">Another Link</a></li>
    <li>|</li>
    <li><a href="#">Link</a></li>
    <li>|</li>
    <li><a href="#">Etc.</a></li>
</ul>
<a class="_logo" href="#"></a>
<div class="_login">
    <div class="_avatar"><img src="{% static 'main/img/avatar.png' %}"/></div>
    <div class="_hello">Welcome Guest</div>
    <div class="_button">Login</div>
</div>
<div class="_navigation" style="clear:none;">
    <ul style="float:left;">
        <li class="active"><a href="#">SEARCH</a></li>
        <li><a href="#">MY ACCOUNT</a></li>
        <li><a href="#">EMPLOYERS</a></li>
        <li><a href="#">EXPLORE SOLID ROCK RECRUITMENT</a></li>
        <li style="margin:0;"><a href="#">CONTACT US</a></li>

    </ul>
    <ul style="float:right;">
        <li class="_reg"><a href="#">JOB SEEKERS REGISTER HERE</a></li>
        <li class="_post"><a href="#">POST A JOB</a></li>
    </ul>
</div>