{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="search_block">
        <div class="_search_box _select_map">
            <div class="_top">
                <div class="_icon"></div>
                <div class="_title">Select Your Area to Search for Jobs</div>
            </div>
            <div class="_center">
                <div id="canvas">
                    <div id="paper"></div>
                    <div id="nsw">
                        <h2>New South Wales</h2>
                    </div>
                    <div id="vic">
                        <h2>Victoria</h2>
                    </div>
                    <div id="wa">
                        <h2>Western Australia</h2>
                    </div>
                    <div id="sa">
                        <h2>South Australia</h2>
                    </div>
                    <div id="nt">
                        <h2>Northern Territory</h2>
                    </div>
                    <div id="qld">
                        <h2>Queensland</h2>
                    </div>
                    <div id="tas">
                        <h2>Tasmania</h2>
                    </div>
                </div>

            </div>
        </div>
        {% include "search/search_form.html" %}
    </div>
    <div class="_slider_block">
        <div class="_slider">
            <div class="_slider_title">Featured Jobs</div>
            <div class="_sl_block">
                <div class="_sl_prev"></div>
                <div class="VjCarouselLite">
                    <ul>
                        {% for job in featured_jobs %}
                            {% include "job_banner.html" %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="_sl_next"></div>
            </div>
        </div>
    </div>
    <div class="_banners_block">
        <div class="_banners">
            <a href="#"><img src="{% static 'main/img/banner1.jpg' %}"/></a>
            <a href="#"><img src="{% static 'main/img/banner2.jpg' %}"/></a>
        </div>
    </div>
{% endblock %}

{% block initialize-js %}
    {{ block.super }}
    <script src="{% static 'main/js/src/extra/jcarousellite_1.0.1.min.js' %}"></script>
    <script src="{% static 'main/js/src/extra/map.js' %}"></script>
    <script src="{% static 'main/js/src/extra/js.js' %}"></script>
{% endblock %}