{% extends 'base.html' %}

{% load staticfiles %}
{% block stylesheet %}
    <link href="{% static 'dynamic_paper/css/style.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script src="{% static 'dynamic_paper/js/src/backbone/models.js' %}" type="text/javascript"></script>
    <script src="{% static 'dynamic_paper/js/src/backbone/collections.js' %}" type="text/javascript"></script>
    <script src="{% static 'dynamic_paper/js/src/backbone/views.js' %}" type="text/javascript"></script>
{% endblock %}
{% block templates %}
    <script id="paper_model" type="text/template">
        <% if (model.get('type').split('_')[1] == 'list') { %>
        <div style="left:<%=level*20%>px;" class="paper list header"><%=model.get('value')%><button class="add-btn" data-id="<%=model.get('id')%>">+</button></div>
        <div style="left:<%=level*20%>px;" class="paper list items">
            <% if (model.get('children')) { %>
            <%=model.get('children').html(level)%>
            <% } %>
        </div>
        <% } else if (model.get('type') == 'container') {  %>
        <div style="left:<%=level*20%>px;" class="paper container">
            <button class="remove-btn" data-id="<%=model.get('id')%>">-</button>
            <% if (model.get('children')) { %>
            <%=model.get('children').html(level+1)%>
            <% } %>
        </div>
        <% } else { %>
        <div <% if (model.get('type')=='text') { %> contenteditable='true' <% } %> data-id="<%=model.get('id')%>" style="left:<%=level*20%>px;" class="paper <%=model.get('type')%>"><%=model.get('value')%></div>
        <% } %>
    </script>
    <script id="paper_collection" type="text/template">
        <% for (var i=0; i < collection.length; i++) { %>
        <%=collection.models[i].html(level)%>
        <% } %>
    </script>
{% endblock %}