{% extends 'base.html' %}

{% load staticfiles %}

{% block library-js %}
    {{ block.super }}
    <script src="{% static 'main/js/lib/jQuery.divPlaceholder.js' %}" type="text/javascript"></script>

    <script src="{% static 'main/js/src/angular/applications/dynamic_paper_edit_app.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/js/src/angular/controllers/dynamic_paper_edit_ctrl.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/js/src/angular/directives/dynamic_paper_edit_dir.js' %}"
            type="text/javascript"></script>
{% endblock %}
